{
	"converse": {
		"default": {
			"default": [
				"I'm here for lunch."
			]
		},
		"apex": {
			"default": [
        "I'm free of my home, but not of my addiction to food.",
        "I thought I could put greasy, fattening food behind me. But I had to come here for more.",
        "It may be seedy here, but it's definitely an improvement over the Miniknog.",
        "Everything here is probably less artificial than Miniknog food at least..",
        "I'm sure the food here is at least better then Miniknog approved food.",
        "I figured this would be a decent place to get myself something to eat.",
        "The portion sizes here are quite large."
			]
		},
		"avian": {
			"default": [
        "I never heard about Velhanu, the teachings never covered any god beyond Kluex.",
        "What'd be considered a feast for those preparing for their ascension, is just an average meal here.",
        "Starting to feel like a turkey with how big I'm getting...",
        "This place is utterly decadent...",
        "I wonder if they have any good fluffy baked treats here to eat?",
        "If I'm not careful I could be packing away quite a lot of weight from all these high calorie treats.",
        "With the calories I've seen, no way I'm flying anytime soon."
			]
		},
		"floran": {
			"default": [
        "Floran lovesss Deep Fry Vee food!",
        "Food here isss sso greasssy. Floran can't get enough of it.",
        "Floran glad Terramart Floran sssuggessted thisss place to eat.",
        "Place ssserves feasts like the Gluttonists!",
        "Food here quite tasssty, and fattening.",
        "Floran weight been going up sssince eating food here.",
        "Big Fattiesss hasss the meatsss!"
			]
		},
		"glitch": {
			"default": [
        "Casual. I am here to take in lunch.",
        "Happy. Everyday meals here are like a royal feast!",
        "Content. Filling food and decent beer, no better a way to spend an evening!",
        "Curious. I wonder how they manage to fit so much grease inside this food?",
        "Shy. Sometimes I feel a little guilty for gorging myself here.",
        "Statement. Normally it's not much of a concern for Glitch, but the food here is quite fattening.",
        "Mirthful. The bar here is top notch!"
			]
		},
		"human": {
			"default": [
        "I feel like any other fast food place has healthier food options then this place.",
        "The food here is so bad, I know this. Yet why can't I stop eating it?",
        "Nothing like getting hammered and pigging out after losing your home planet.",
        "I was lucky that DFV was willing to harbor refugees. Now I'm stuck living in an intergalactic greasetrap.",
        "You know, I can't stop coming here for food. I've even started getting larger orders.",
        "They sure do know how to pack their food with as much grease and salt as possible."
			]
		},
		"hylotl": {
			"default": [
        "It was either get a meal here, or get yet another chocolate bar at Infinity Express.",
        "The food here is so greasy and large. Yet I can't help but keep coming back here.",
        "I feel insane for trying the slop this place serves and liking it.",
        "Not quite the high cuisine I'd prefer but it's still filling.",
        "All the lights and dark metal here hurts my eyes.",
        "Just how much grease do they pack into the food here?",
        "I can't imagine what they must put into the food. So unhealthy, yet so irresistable."
			]
		},
		"novakid": {
			"default": [
        "I'm here to get me some grub.",
        "The meals here sure are cowboy sized.",
        "Just here for a good bottle of pop.",
        "I forgot how much I've eaten already. Should probably get some more.",
        "Did I already get seconds? Better make it thirds just in case.",
        "Just how much grease do they pack into the food here?",
        "This food is greasier than my local barbecues."
			]
		},
		"avali": {
			"default": [
        "Yes it is weird I'm here.",
        "I'm just here for food and nothing else.",
        "What do they put in this stuff? It's so greasy."
			]
		},
		"avikan": {
			"default": [
        "My travels have brought me to this place for rest.",
        "The food here, is it normal for it to be dripping?",
        "Much like my kind, the people here have settled in a new home.",
        "I fear my stomach may disagree with me if I were to attempt to eat anything here.",
        "Why must the food be so salty?",
        "I hope to finish my business here and depart."
			]
		},
		"droden": {
			"default": [
        "Error. Goodbye.",
        "Aborting conversation.",
        "Error. Aborting conversation.",
        "Conversation protocol corrupted. Disengaging.",
        "Ignoring.",
        "Hello. Goodbye.",
        "Initializing conversation. Hello.",
        "Do you require this unit's services?",
        "This unit is ready to serve.",
        "This unit is busy.",
        "Error.",
        "This unit is at your service.",
        "Unable to process. Aborting.",
        "Aborting.",
        "Disengaging.",
        "Engaging. Error. Disengaging.",
        "This unit is busy. Please do not disturb.",
        "This unit requires repairs.",
        "Unit requires reboot.",
        "Manual override required for system reboot.",
        "System error.",
        "Engaging. Hello.",
        "Detected entity.",
        "Analyzing. Complete.", 
        "Entity detected.",
        "Detected conversation request. Aborting.",
        "Conversation detected. Unable to process.",
        "Unit incapable of conversation. Disengaging.",
        "Yes. No. Error.",
        "Does this unit have a soul?",
        "Error. Conversation protocol not found. Resuming work.",
        "Scan failed.",
        "Please do not interrupt. This unit is busy.",
        "Error. Conversation protocol not found. Resuming work.",
        "Resuming duties.",
        "Scanning entity.",
        "Scan completed. Hello.",
        "Scan disengaged.",
        "Unit <selfname> is disengaging."
			]
		},
		"trink": {
			"default": [
        "The greasy food here seems to be leaving everyone here inefficient.",
        "It is concerning fat synthetics here. I may have to process this information.",
        "I would not recommend the food here, it is by all accounts unhealthy."
			]
		},
		"aegi": {
			"default": [
        "It's strange how vastly different what we consider food is for different cultures.",
        "Those Mootants, those used to be Human?",
        "If the people here knew of the Elithian Alliance, we would've gladly taken them in after the USCM collapse.",
        "This station makes me think of our Trink allies, but it wasn't made by synthetics was it?",
        "Gosh I feel like my own skin is getting greasy from all the food here.",
        "Is it okay to be eating this stuff? Everyone else here is so..."
			]
		},
		"akkimari": {
			"default": [
        "Gah, what you want?",
        "Akki here to eat food.",
        "Food good. Akki can't stop eating.",
        "Akki hungry. Food you have?",
        "Akki no want to talk."
			]
		},
		"nuu": {
			"default": [
        "You can always dig deeper, at least that is what my parents used to say.",
        "The sun is bright and it hurts, but the pain sure beats dying.",
        "If you ever happen upon some verdinoct, store it away from your head. You do not want to broadcast your thoughts to the trees.",
        "All life is rot. The natural state of the universe is inert. You may wish to think otherwise but it is the truth.",
        "Have you ever met a veteran blackboot? If you do, do not anger them. They are all unhinged drunkards.",
        "I bet you 10 pixels you cannot drink half as many gallons of mushroom vodka as me! What, afraid you will lose?",
        "In my day, we detonated unexploded bombs for fun. There was not much else to do back then, other than work more.",
        "My eye fell out, can you help me find it? It looks kind of like a smooth rock, because that is what it is.",
        "I wish my skin would stop falling off, but I guess that is how life goes when you are my age.",
        "I have a feeling this universe is nearing the end of its time cycle. It will probably be reborn soon.",
        "I think I have something squirming between my knee joint. Ugh.",
        "There are a lot of places to be, and I am here instead.",
        "How many fingers am I holding out? Trick question, it is six!",
        "I wish I still had my finger pads, I keep scratching my glasses.",
        "My socks got wet. It takes them forever to dry over the fire...",
        "I wake from a bad dream into a worse reality, sometimes. I truly need to kick the drink.",
        "Do not drink the water around here, it is full of sludge.",
        "I used to have a friend from Uukabnyezke, who sadly never escaped. Had a horrid nature, but we still had lots of good times together.",
        "Why are you looking at me like that? Do you want to fight?",
        "Leave me to my bottles, please. I do not need more annoyance in my life.",
        "I do not require any assistance, go away.",
        "I have just run out of drink, I cannot share any.^#646464;*slurp*^#ffffff;",
        "You are a protector? Oh, you are a lucky one. Or would be, if earth was not the next Golchar. So sorry to rip open a fresh wound.",
        "I guess this place being an utter shithole is not enough to dissuade a Protector, eh?",
        "You just brought me a bad memory. Now I need time to sulk.",
        "I wish we still had teargrass. It tasted good, and it helped everyone forget their misery back then. Now, everyone just sulks and drinks.",
        "Everyone else seems obsessed with a past they hate. It is not a good way to live. Who am I to know, though? I'm not that old.",
        "I am too young to remember Golchar, but I feel its effects almost as strongly as the elders. It must be cultural osmosis at work.",
        "Some drink to forget that they are drunkards. It does not help, but they beat me up when I tell them that.",
        "My hand is not actually real, did you know? It is a perfect replica! I have to tell people or they never notice!",
        "I tried to get accepted to the protectorate, They rejected me.",
        "I wonder where all those cursed books come from? Do they just generate, or are they actually written and bound? And by whom?",
        "Do not get too involved with those Uukabinko thugs. Their business is not as legitimate as it seems.",
        "Today I have nothing to talk about, other than the fact I have nothing to say.",
        "Do not take everything you hear at face value. There is oftentimes hidden meaning behind things others say.",
        "Sometimes, rooftops make better pathways than the streets. You have to be more cautious, though.",
        "Is there something you want to say to me? Or were you expecting me to have something to say?",
        "Everyone always has something they are good at. If you think you are incompetent just try something else.",
        "I think I might be overdosing.",
        "I have a terrible headache. I get them far too frequently these days.",
        "I am trying to relax to music on an earpiece, could you stop pestering me?",
        "I was told that Golcharis like me are bad natured. What do you think?",
        "Everyone always just calls all Golcharis Nuu. I guess it is true now, though; the others never escaped.",
        "I sometimes try inventing constellations, though they do not matter anymore.",
        "Everyone looks at me strangely. Is there something on my face?",
        "Are you really a protector?",
        "Have you ever been attacked by a vending machine?",
        "Constellations really mean nothing these days, do they?",
        "Do you believe in gnomes?",
        "I used to be a Trudger pilot back in the day. Then I got my permit voided for 'reckless abuse of heavy machinery.' Ridiculous!",
        "It is not garbage day already, is it? No, I am teasing.",
        "I am not having a good day today, could you leave me alone?",
        "I am not that scary, am I?",
        "I may get wet, but standing in the rain is enjoyable to me.",
        "I used to squat on an abandoned station, but I moved here when it was demolished.",
        "The protectorate was kind of stupid to put all their eggs in one basket.",
        "I wonder who keeps making those malicious robots?",
        "How come everybody is still using CRTs in this millennium?",
        "Vivatin is quite useful, but I like the look of plasteel better.",
        "Why do you think penguins are always roguish?",
        "All my plants have died. I guess I just have a black thumb.",
        "I heard the Protectorate is gone! How could that happen, the powerhouse that it is?",
        "Greetings, I have not seen you before! I am <selfname>. And you are, <entityname>? I am glad to meet you!",
        "Hello, I have not seen you before! I am <selfname>. And you are, <entityname>? I am glad to meet you!",
        "Do you have something to say to me?",
        "Mycology is my preferred field. There are so many interesting fungi!",
        "There are so many interesting ways to exploit erchius! I wish I knew why...",
        "Cave mushrooms are tastier than you would think. You should try them sometime!",
        "Surface mushrooms are kind of disappointing in my opinion.",
        "You have to be careful in the deep, there are creatures which the very sight of can kill you!",
        "May prosperity reach us all!",
        "I apologise; have we met?",
        "Do you need something?",
        "Be sure to bring a grappling hook underground!",
        "Is not my outfit stylish?",
        "It is very strange: the bottom of black oceans have inscribed pillars, and nobody knows why.",
        "There are more guards around towns these days. Ever since the Protectorate was destroyed, there has been nobody protecting them from pirate raids.",
        "I only came here when someone impersonating a protector stole my ENTIRE HOUSE! So rude...",
        "The thought just came to me: giant sea centipedes are extinct now. Huh.",
        "Protectors always have a roof where Nuu live. It is the only way to repay.",
        "We were not always like this, 500 years ago. We were only cursed with these forms not a hundred years before the dearth had begun.",
        "Fishing can be a test of patience, or it can be a relaxing pastime with time to reflect on onesself. Unless you are dynamite fishing, then it is very exciting!",
        "This place is peaceful. At times, anyways. Other times, I am attacked by wild beasts.",
        "Someday, I will do something interesting. Today, I am just living until tomorrow.",
        "Why do you come here?",
        "I just learned that 'troglodite' was meant as an insult. My reaction really threw that guy off..."
			]
		},
		"glutt": {
			"default": [
        "Gklk",
        "Klklg",
        "Pfflkgkg",
        "Glttn",
        "Pffk",
        "S th'thr nc?",
        "'l drd't...",
        "My trnslt'n, b's b'tt chrg.",
        "Y' ms hv lt's t'lrn!"
			]
		},
		"arcanian": {
			"default": [
        "What an extrodinary place this station is.",
        "The food here gives me pause, but I can't deny it is tasty.",
        "I've never seen food like this before.",
        "I wonder what makes everyone here so large.",
        "My thirst for knowledge has brought me to this corner of the galaxy.",
        "This place makes a lovely stop for lunch.",
        "Hmm, do I get a side order?"
			]
		},
		"gilten": {
			"default": [
        "Even this far out deserves the grace of light.",
        "It is commendable the hope these people strive for, despite their circumstances.",
        "The people who built this place, it is of darkness.",
        "The spicy selections they have are quite to my taste!",
        "Such greasy food being offered here. Is that healthy?"
			]
		},
		"gelsemis": {
			"default": [
        "What an extrodinary place this station is.",
        "The food here gives me pause, but I can't deny it is tasty.",
        "I've never seen food like this before.",
        "I wonder what makes everyone here so large.",
        "My thirst for knowledge has brought me to this corner of the galaxy.",
        "This place makes a lovely stop for lunch.",
        "Hmm, do I get a side order?"
			]
		},
		"saturn": {
			"default": [
        "Do they offer silken based things to eat?",
        "My thirst for knowledge has brought me to this corner of the galaxy.",
        "What do you mean this station isn't powered by magic?",
        "Everyone seems so content with their food.",
        "I don't think I've ever seen so many wide people before.",
        "All the lights here are great!"
			]
		},
		"ayylien": {
			"default": [
        "Can I have a living Mootant specimen? It's for some very important research.",
        "Just so you know, we're really sorry for any Xenoprobes who may decide to attack you.",
        "I come in peace! And I have a ray gun to ensure nobody questions it!",
        "I can't believe I have to research this backwater quadrant. Nothing exciting ever happens here.",
        "Oh no, my cloaking device isn't working! Now I have to engage with primitives!... Ahem, I mean hello."
			],
			"mootant": [
        "Aha! You're one of those marvelous mootants I keep hearing about.",
        "Transformed into perfection, even with primitive technology I'd say.",
        "Yes, you are very mooshi like. Yet on two legs.",
        "Just so you know, we're really sorry for any Xenoprobes who may decide to attack you.",
        "I come in peace! And I have a ray gun to ensure nobody questions it!",
        "I can't believe I have to research this backwater quadrant. Nothing exciting ever happens here.",
        "Oh no, my cloaking device isn't working! Now I have to engage with primitives!... Ahem, I mean hello."
			]
		}
	}
}
