{
  "converse" : {
    "default" : {
      "default" : [
      "Moo.",
      "Moo.",
      "Moo.",
      "Mooooo.",
      "Mooooooooo.",
      "Moo...",
      "Moo?"
      ]
    }
  },
  "greeting" : {
    "default" : {
      "default" : [
      "Moo.~",
      "Moo.~",
      "Moo.~",
      "Mooooo.~",
      "Mooooooooo.~"
      ]
    }
  },
  "beacon" : {
    "default" : {
      "default" : [
      "Moo.",
      "Moo.",
      "Moo.",
      "Mooooo.",
      "Mooooooooo.",
      "Moo...",
      "Moo?"
      ]
    }
  },
  "rent" : {
    "default" : {
      "default" : [
      "Moo.~",
      "Moo.~",
      "Moo.~",
      "Mooooo.~",
      "Mooooooooo.~"
      ]
    }
  },
  "helpme" : {
    "default" : {
      "default" : [
      "!!",
      "Moo!!",
      "Mooooo!!",
      "Mooooooooo!!"
      ]
    }
  },
  "safe" : {
    "default" : {
      "default" : [
      "Moo..."
      ]
    }
  },
  "tagCriteria" : {
    "default" : {
      "default" : [
      "l:<"
      ]
    }
  },
  "enclosedArea" : {
    "default" : {
      "default" : [
      "<:c"
      ]
    }
  },
  "otherDeed" : {
    "default" : {
      "default" : [
      "l:<"
      ]
    }
  },
  "severe" : {
    "default" : {
      "default" : [
      "D:<"
      ]
    }
  },
  "final" : {
    "default" : {
      "default" : [
      "DX<"
      ]
    }
  },
  "accuse" : {
    "default" : {
      "default" : [
      "D:<"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
      "DX<"
      ]
    }
  },
  "reattack" : {
    "default" : {
      "default" : [
      "Moo!?"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
      "Moo!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
      "Moo.~"
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
      "Moo..."
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
      "..."
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
      "..."
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
      "Moooo!~"
      ]
    }
  }
}