[
  {
    "version": "1.0.0",
    "groups": [
      {
        "name": "Featured",
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/combinedSprites.png",
            "toolTip": "Sprite Overhaul",
            "text": "^#00ebce;Size^reset; sprites have been extended to allow for combined stomach and breast variants, and polished up across the board.\n\nThere are now also additional OpenStarbound slots for future transparent clothing!"
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/ui.png",
            "toolTip": "UI Overhaul",
            "text": "The ^#ccbbff;StarPounds^reset; UI has been overhauled! All menus are now merged, in addition to this new changelog menu!\n\nA brand new toolbar has also been added for OpenStarbound users, replacing the status effect meters and allowing quick access to the ^#ccbbff;StarPounds^reset; menu!"
          },
          {
            "image": "/items/active/starpounds/controller/icons/inventory_default.png",
            "toolTip": "Controller",
            "text": "No more clogging your inventory with tools!\n\nUsing the new ^#ccbbff;StarPounds^reset; controller, you can open a radial menu to select and set a specific action.\n\nYou can spawn multiple, including one handed versions, to set up your hotbar however you like!"
          },
          {
            "image": "/interface/scripted/starpounds/main/traitActive.png",
            "toolTip": "Traits",
            "text": "The ^#ccbbff;Trait^reset; system has been entirely overhauled!\n\nSpecies come with a set of named traits, and further traits can be acquired by spending ^#ccbbff;Trait Points^reset;.\n\n^#ccbbff;Trait Points^reset; can be gained through gameplay, or by selecting negative traits!"
          },
          {
            "image": "/items/generic/food/starpounds/drinks/stilldrinks/liquors/t1/starpoundsale.png",
            "toolTip": "Drinks",
            "text": "A huge array of new drinks have been added!\n\nCraft these liquors and sodas at the ^orange;Still^reset; and ^orange;Water Fizzler^reset;, or find them in the world!\n\nLiquors can be aged over time for stronger effects, and aged faster with the new ^orange;Aging Casks^reset;!"
          }
        ]
      },
      {
        "name": "Encounters",
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/tenants.png",
            "toolTip": "Tenants",
            "text": "New Throg and Mootant tenants have been added, along with a barn mootant variant!\n\nGet them to move in by filling a house with throg, fattening, and barn objects respectively.\n\nBrewer tenants can also arrive if there's brewing related objects around!"
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/mootant.png",
            "toolTip": "Mootants",
            "text": "Mootants now have new attacks, slow you on hit, and have new particles and sounds!\n\nThey now rain down milk from far away, and do a large spray to knock you back when close!\n\nFloran mootants have more health, and will opt to leap and attack you rather than spray up close."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/barMicrodungeons.png",
            "toolTip": "Bars",
            "text": "New bar encounters have been added!\n\nFind bars, saloons, and taverns ran by various species throughout the world!"
          },
          {
            "image": "/items/active/unsorted/starpoundsrations/starpoundsfastfoodpackage/starpoundsfastfoodpackage.png",
            "toolTip": "Food Treasure",
            "text": "Various bundled foods have been added to loot pools, which do not spoil until opened!\n\nFind regular food, fast food, or newly added alcohols throughout the world."
          }
        ]
      },
      {
        "name": "Gameplay",
        "nodes": [
          {
            "image": "/interface/statuses/starpoundsstrained.png",
            "toolTip": "Strain",
            "text": "Movement while exceeding your ^#f96aa6;capacity^reset; no longer consumes energy, but causes ^#f96aa6;Strain^reset;.\n\n^#f96aa6;Strain^reset; reduces ^#1a87ed;mobility^reset; and ^green;energy regeneration^reset;, and allows ^#cc164a;prey^reset; to escape once full.\n\n^#f96aa6;Strain^reset; decreases slowly over time, and rapidly when below ^#f96aa6;capacity^reset;."
          },
          {
            "image": "/interface/statuses/stomach3.png",
            "toolTip": "Stuffing",
            "text": "Exceeding 300% of your ^#f96aa6;capacity^reset; now causes ^#f96aa6;stuffing damage^reset;.\n\nDamage is at most 33% of your health, and can be entirely avoided with the ^#f96aa6;Steel Stomach^reset; skill.\n\n^#f96aa6;Stuffing^reset; also has a chance to apply the new ^#f96aa6;Stretched Stomach^reset; effect."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/fireResistance.png",
            "toolTip": "Fire Penalty",
            "text": "^#ff8c00;Fire damage^reset; no longer consumes ^green;energy^reset;, and ^#ff8c00;fire penalty^reset; has been replaced with ^#ff8c00;fire resistance^reset;.\n\n^#ff8c00;Fire resistance^reset; Starts negative, so you now take more damage based on ^#00ebce;size^reset;.\n\nThe ^#ff8c00;Flameproof Flab^reset; skill reduces this damage instead, now."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/smashDamage.png",
            "toolTip": "Weapon Abilities",
            "text": "Several vanilla weapon abilities have been patched to correctly account for larger ^#00ebce;size^reset;."
          },
          {
            "image": "/items/generic/other/techcard.png",
            "toolTip": "Techs",
            "text": "Vanilla techs have been patched to work better at larger ^#00ebce;sizes^reset;, but are still not as effective as their ^#ccbbff;StarPounds^reset; counterparts."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/voreFriendly.png",
            "toolTip": "Vore",
            "text": "^#cc164a;Prey^reset; struggles now add ^#f96aa6;strain^reset; instead, and ^#cc164a;prey^reset; escape when ^#f96aa6;strain^reset; is full.\n\n^#00ebce;Weight^reset; counts less for ^#f96aa6;capacity^reset;, but ^#cc164a;prey^reset; ^#f96aa6;capacity^reset; is added to your own.\n\nSmall monsters are considered smaller, large monsters are larger.\n\n Critters fill less ^#f96aa6;capacity^reset;, but grant more ^#d5ab36;food^reset;."
          },
          {
            "image": "/items/active/starpounds/controller/icons/voreBite.png",
            "toolTip": "Biting",
            "text": "You can now bite enemies, with damage and cooldown based on vore skills unlocked, and equipment!\n\nThere is also a new OpenStarbound keybind specifically for biting!"
          }
        ]
      },
      {
        "name": "Skills",
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/gorgingDuration.png",
            "toolTip": "Boundless Binging",
            "text": "The new ^#f96aa6;Boundless Binging^reset; skill allows you to continue eating for a short time after exceeding your ^#f96aa6;capacity^reset;.\n\nEating resets the timer, so you can theoretically eat forever!"
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/stuffingDamage.png",
            "toolTip": "Steel Stomach",
            "text": "The new ^#f96aa6;Steel Stomach^reset; skill reduces the damage taken from newly added ^#f96aa6;stuffing damage^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/physicalResistance.png",
            "toolTip": "Iron Insides",
            "text": "The new ^#b7bac1;Iron Insides^reset; skill grants you increasing ^#b7bac1;physical protection^reset; with ^#00ebce;size^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/electricResistance.png",
            "toolTip": "Grounded Guts",
            "text": "The new ^#a373e5;Grounded Guts^reset; skill grants you increasing ^#a373e5;electric protection^reset; with ^#00ebce;size^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/magnetRange.png",
            "toolTip": "Magnetised Mass",
            "text": "The new ^#1a87ed;Magnetised Mass^reset; skill allows you to pull in nearby items when crouching.\n\nThe range starts small, but increases significantly with ^#00ebce;size^reset; and skill level."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/knockbackResistance.png",
            "toolTip": "Leaded Lard",
            "text": "The ^#1a87ed;Iron Insides^reset; skill has been renamed to ^#1a87ed;Leaded Lard^reset;, has a new icon, and has been moved to the ^#1a87ed;mobility^reset; section of the skill tree."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/foodPoisonImmunity.png",
            "toolTip": "Dubious Diet",
            "text": "The ^#00d900;Steel Stomach^reset; skill has been removed and replaced with ^#00d900;Dubious Diet^reset;, and now only provides ^#00d900;food poison immunity^reset;."
          }
        ]
      },
      {
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/voreSouls.png",
            "toolTip": "Soul Siphon",
            "text": "The new ^#81f8fe;Soul Siphon^reset; skill grants you a burst of healing when digesting ^#cc164a;prey^reset;, and grants you stacking bonuses based on ^#81f8fe;souls^reset; absorbed.\n\n^#81f8fe;Souls^reset; are lost on death, based on your ^#00ebce;death penalty^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/voreSilent.png",
            "toolTip": "Silent Swallowing",
            "text": "The new ^#cc164a;Silent Swallowing^reset; skill allows you to eat friendly NPCs without alerting others, so long as nobody is looking in your direction."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/voreSafe.png",
            "toolTip": "Tummy Transit",
            "text": "The new ^#cc164a;Tummy Transit^reset; skill allows you safely swallow friendly NPCs, and without turning them hostile.\n\nA gold halo will appear above your cursor to let you know if it's safe!"
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/skills/voreHealing.png",
            "toolTip": "Salving Stomach",
            "text": "The new ^#cc164a;Salving Stomach^reset; skill allows you to heal any friendly ^#cc164a;prey^reset; in your stomach.\n\nRequires the ^#cc164a;Tummy Transit^reset; skill to be active."
          }
        ]
      },
      {
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/knockbackResistance_old.png",
            "toolTip": "^red;Removed:^reset; Iron Insides",
            "title": "Iron Insides",
            "text": "The ^#1a87ed;Iron Insides^reset; skill has been renamed to ^#1a87ed;Leaded Lard^reset;, has a new icon, and has been moved to the ^#1a87ed;mobility^reset; section of the skill tree."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/poisonImmunity_old.png",
            "toolTip": "^red;Removed:^reset; Steel Stomach",
            "title": "Steel Stomach",
            "text": "The ^#00d900;Steel Stomach^reset; skill has been removed and replaced with ^#00d900;Dubious Diet^reset;, and now only provides ^#00d900;food poison immunity^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/changelog/iceImmunity_old.png",
            "toolTip": "^red;Removed:^reset; Pudgy padding",
            "title": "Pudgy padding",
            "text": "The ^#3dc2f2;Pudgy Padding^reset; skill for ^#3dc2f2;ice status immunity^reset; has been removed."
          }
        ]
      },
      {
        "name": "Effects",
        "nodes": [
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/satiated.png",
            "toolTip": "Satiated",
            "text": "Filling up your ^#d5ab36;hunger bar^reset; applies satiated, significantly reducing ^#00ebce;weight loss^reset; and ^#d5ab36;hunger^reset; for a short while."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/gracePeriod.png",
            "toolTip": "Beginner's Grace",
            "text": "When starting a new character ^#00ebce;weight^reset; and ^#b8eb00;experience^reset; aren't lost on death.\n\nTraits can also be modified without ^#b8eb00;experience^reset; or an \n^orange;Infusion Table^reset; to allow you to select initial traits."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/shipWorld.png",
            "toolTip": "Artificial Gravity",
            "text": "Your ^#1a87ed;jump penalty^reset; and ^#00ebce;weight loss^reset; are now reduced while you are on your ship."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/stomachStretch.png",
            "toolTip": "Stretched Stomach",
            "text": "When eating past 300% ^#f96aa6;capacity^reset; you have a chance to stretch your stomach.\n\nStretching your stomach increases ^#f96aa6;capacity^reset;, ^#f96aa6;strain penalty^reset;, and further ^#f96aa6;stuffing damage^reset;.\n\nThe chance of a stretch occuring depends on how much food is eaten."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/feedingTube.png",
            "toolTip": "Diluted Acid",
            "text": "Drinking liquids from the feeding tube lowers your ^#b8eb00;digestion speed^reset;, stacking over time.\n\nThe effect duration is very short, and is intended to allow you to get a big stomach even with a high ^#b8eb00;digestion speed^reset;."
          },
          {
            "image": "/interface/scripted/starpounds/main/icons/effects/antacid.png",
            "toolTip": "Antacid",
            "text": "Using the new consumable antacid item grants this effect, significantly lowering your ^#b8eb00;digestion speed^reset;.\n\nCombine it with ^#5d50e5;Bloat Cola^reset; for a neat interaction!"
          }
        ]
      }
    ]
  }
]
