{
  "tabs": [
    {"id": "features", "description": "Feature Options"},
    {"id": "visuals", "description": "Visual Options"},
    {"id": "sounds", "description": "Sound Options"},
    {"id": "vore", "description": "Vore Options"}
    // Also a miscellaneous tab, but it's added in-script to make sure it appears at the bottom.
  ],
  "options": [
    {
      "name": "disableHunger",
      "pretty": "^#4bce3a;Disable Hunger",
      "description": "Prevent the hunger bar from draining.\n^#d5ab36aa;Hunger^gray; reduced by ^green;100%\n^#d5ab36aa;Hunger^gray; penalties reduce ^#b8eb00aa;Experience^gray;.",
      "footer": "\n^#ccbbff;StarPounds^gray; enables hunger on ^#4bce3a;Casual^gray;, you can disable it again using this.",
      "stats": [["absorption", "mult", 0.75]],
      "tab": "features"
    },
    {
      "name": "disableGurgles",
      "pretty": "^#b8eb00;Disable Gurgles",
      "description": "Disables loud gurgles that rapidly digest food.",
      "stats": [["digestion", "mult", 1.1]],
      "tab": "features"
    },
    {
      "name": "disableBelches",
      "pretty": "^#b8eb00;Disable Belches",
      "description": "Disables belching from all sources.\n^gray;Also disables belch particles.\nSkills work, but have no sound or visuals.",
      "tab": "features"
    },
    {
      "name": "disableInterface",
      "pretty": "^#1a87ed;Disable Interface",
      "description": "Disables the ^#ccbbff;StarPounds^reset; interface next to the hotbar.",
      "stats": [["capacity", "mult", 1.1], ["weightGain", "mult", 1.1]],
      "tab": "features",
      "oSBOnly": true
    },
    {
      "name": "disableSizeMeter",
      "pretty": "^#1a87ed;Disable Size Meter",
      "description": "Disables the size meter from being shown in the status bar.",
      "stats": [["weightGain", "mult", 1.1]],
      "tab": "features",
      "retailOnly": true
    },
    {
      "name": "disableStomachMeter",
      "pretty": "^#1a87ed;Disable Stomach Meter",
      "description": "Disables the stomach meter from being shown in the status bar.",
      "stats": [["capacity", "mult", 1.1]],
      "tab": "features",
      "retailOnly": true
    },
    {
      "name": "disableStrainedMeter",
      "pretty": "^#1a87ed;Disable Strained Meter",
      "description": "Disables the strain meter from being shown in the status bar.",
      "tab": "features",
      "retailOnly": true
    },
    {
      "name": "breastMeter",
      "pretty": "^#1a87ed;Enable Breast Meter",
      "description": "Enables the breast meter being shown in the status bar.",
      "tab": "features",
      "retailOnly": true
    },
    {
      "name": "disableDrinking",
      "pretty": "^#1a87ed;Disable Drinking",
      "description": "Disable automatic drinking of food liquids at mouth level.\n^gray;'Food liquids' are liquids that would normally be considered food.",
      "tab": "features"
    },
    {
      "name": "universalDrinking",
      "pretty": "^#1a87ed;Universal Drinking",
      "description": "Allows you to drink any liquid.",
      "tab": "features"
    },
    {
      "name": "disableLoss",
      "pretty": "^#1a87ed;Disable Weight Loss",
      "description": "Prevents you from losing weight.",
      "stats": [["weightLoss", "mult", 0], ["weightGain", "mult", 0.25]],
      "tab": "features"
    },
    {
      "name": "disableGain",
      "pretty": "^#1a87ed;Disable Weight Gain",
      "description": "Prevents you from gaining weight.",
      "stats": [["weightGain", "mult", 0], ["weightLoss", "mult", 0.25]],
      "tab": "features"
    },
    {
      "name": "disableHitbox",
      "pretty": "^#1a87ed;Disable Hitbox",
      "description": "Disables the hitbox changes when gaining weight.\n^gray;Excludes supersized weight stages.",
      "stats": [["health", "mult", 0.5]],
      "tab": "features"
    },
    {
      "name": "disableTileDamage",
      "pretty": "^#1a87ed;Disable Tile Damage",
      "description": "Prevents fat-related effects from damaging tiles.",
      "tab": "features"
    },
    {
      "name": "disableSupersize",
      "pretty": "^#1a87ed;Disable Supersized Stages",
      "description": "Prevents you from reaching supersized weight stages.\n^gray;These sizes alter your height, and may have issues with terrain.",
      "tab": "features"
    },
    {
      "name": "disableCollision",
      "pretty": "^#1a87ed;Disable Supersized Collision",
      "description": "Disables platform geometry at supersized weight stages.\n^gray;Turning this off disables the item magnet.",
      "tab": "features"
    },
    {
      "name": "disableAutomaticDoors",
      "pretty": "^#1a87ed;Disable Auto Door Opening",
      "description": "Disables automatically closing and opening doors at supersized weight stages.\n^gray;Feature can be unreliable on servers, and may impact performance.",
      "tab": "features"
    },
    {
      "name": "disableStuffingDamage",
      "pretty": "^#f96aa6;Disable Stuffing Damage",
      "description": "Disables damage from overstuffing your stomach.",
      "stats": [
        ["stuffingDamage", "mult", 0],
        ["strainedPenalty", "mult", 1.25]
      ],
      "tab": "features"
    },
    {
      "name": "disableMilkGain",
      "pretty": "^#ffe5d9;Disable Milk Gain",
      "description": "Prevents you gaining milk from all sources.",
      "tab": "features"
    },
    {
      "name": "disableLeaking",
      "pretty": "^#ffe5d9;Disable Leaking",
      "description": "Disables automatic lactation from all sources.",
      "tab": "features"
    },
    {
      "name": "bodyShape",
      "type": "slider",
      "pretty": "^#1a87ed;Weight Distribution",
      "description": "Adjusts the distribution of fat on your body.",
      "tab": "visuals",
      "min": -2, "max": 2, "step": 1, "default": 0,
      "hideRangeNumbers": true,
      "hideThumbNumbers": true,
      "clientOnly": true
    },
    {
      "name": "stomachSize",
      "type": "slider",
      "pretty": "^#f96aa6;Stomach size",
      "description": "Increases the minimum size of your stomach.",
      "tab": "visuals",
      "min": 0, "max": 3, "step": 1, "default": 0,
      "hideRangeNumbers": true,
      "hideThumbNumbers": true,
      "clientOnly": true
    },
    {
      "name": "breastSize",
      "type": "slider",
      "pretty": "^#ffe5d9;Bust size",
      "description": "Increases the minimum size of your bust.",
      "tab": "visuals",
      "min": 0, "max": 2, "step": 1, "default": 0,
      "hideRangeNumbers": true,
      "hideThumbNumbers": true,
      "clientOnly": true
    },
    {
      "name": "hyper",
      "pretty": "^#ffe5d9;Hyper Chest",
      "description": "Increases your bust size significantly, and hides your stomach.",
      "tab": "visuals",
      "clientOnly": true
    },
    {
      "name": "disableStomachGrowth",
      "pretty": "^#f96aa6;Disable Stomach Growth",
      "description": "Disables gaining stomach size from eaten food.",
      "tab": "visuals"
    },
    {
      "name": "disableBreastGrowth",
      "pretty": "^#ffe5d9;Disable Breast Growth",
      "description": "Disables gaining breast size from stored milk.",
      "tab": "visuals"
    },
    {
      "name": "disableBelchParticles",
      "pretty": "^#b8eb00;Disable Belch Particles",
      "description": "Disables rendering particles when belching.",
      "tab": "visuals"
    },
    {
      "name": "disableVoreParticles",
      "pretty": "^#cc164a;Disable Vore Particles",
      "description": "Disables rendering particles when eating entities.",
      "tab": "visuals"
    },
    {
      "name": "volume",
      "type": "slider",
      "pretty": "^#1a87ed;Volume",
      "description": "Adjusts the volume of all ^#ccbbff;StarPounds^reset; sounds originating from the player.",
      "tab": "sounds",
      "min": 0, "max": 200, "step": 1, "default": 100,
      "hideRangeNumbers": true,
      "numberFormat": "%s%%",
      "clientOnly": true
    },
    {
      "name": "belchPitch",
      "type": "slider",
      "pretty": "^#b8eb00;Belch Pitch",
      "description": "Adjust the pitch of belch sounds.",
      "tab": "sounds",
      "min": 0.75, "max": 1.25, "step": 0.05, "default": 1,
      "hideRangeNumbers": true,
      "numberFormat": "%gx",
      "clientOnly": true
    },
    {
      "name": "genderlessBelches",
      "pretty": "^#b8eb00;Genderless Belch Sounds",
      "description": "Disables gender affecting belch pitch.",
      "tab": "sounds",
      "clientOnly": true
    },
    {
      "name": "disableSizeBelches",
      "pretty": "^#b8eb00;Disable Scaling Belches",
      "description": "Disable increased belch volume and lowered belch pitch based on your size.",
      "tab": "sounds",
      "clientOnly": true
    },
    {
      "name": "disableMovementSounds",
      "pretty": "^#1a87ed;Disable Movement Sounds",
      "description": "Disables footstep, landing, and slosh sounds when moving.",
      "tab": "sounds"
    },
    {
      "name": "disableGurgleSounds",
      "pretty": "^#b8eb00;Disable Gurgle Sounds",
      "description": "Disables sound from gurgles that rapidly digest food.",
      "tab": "sounds"
    },
    {
      "name": "disableRumbles",
      "pretty": "^#b8eb00;Disable Rumble Sounds",
      "description": "Disable quiet rumbles from having food in your stomach.",
      "tab": "sounds"
    },
    {
      "name": "disableSquelchSounds",
      "pretty": "^#b8eb00;Disable Squelch Sounds",
      "description": "Disable squelching sounds that happen when your stomach moves.\n^gray;Applies to falling, sloshing, stuffing, and vore struggles.",
      "tab": "sounds"
    },
    {
      "name": "disableStretchSounds",
      "pretty": "^#b8eb00;Disable Stretch Sounds",
      "description": "Disable rubbery stretch sounds that happen when you overstuff your stomach.",
      "tab": "sounds"
    },
    {
      "name": "disableStruggleSounds",
      "pretty": "^#cc164a;Disable Struggle Sounds",
      "description": "Disable struggling sounds from entities you eat.",
      "tab": "sounds"
    },
    {
      "name": "disablePred",
      "pretty": "^#cc164a;Disable Pred",
      "description": "Prevents you from eating other entities.",
      "tab": "vore"
    },
    {
      "name": "disablePredDigestion",
      "pretty": "^#cc164a;Disable Pred Digestion",
      "description": "Prevents you from digesting eaten entities.",
      "stats": [["struggleResistance", "add", 0.5]],
      "tab": "vore"
    },
    {
      "name": "disablePredBelches",
      "pretty": "^#cc164a;Disable Pred Belches",
      "description": "Prevents you from belching when digesting prey.",
      "tab": "vore"
    },
    {
      "name": "disablePredBite",
      "pretty": "^#cc164a;Disable Biting",
      "description": "Disables biting with the vore tool when no consumable entities are found.",
      "tab": "vore"
    },
    {
      "name": "disableCrewVore",
      "pretty": "^#cc164a;Disable Crew Vore",
      "description": "Disables eating your crew members.",
      "tab": "vore"
    },
    {
      "name": "disableDrinkingVore",
      "pretty": "^#cc164a;Disable Drinking Vore",
      "description": "Disables liquid drinking consuming entities at your mouth, and pulling in others nearby.\n^gray;Drinking vore also requires the appropriate skills.",
      "tab": "vore"
    },
    {
      "name": "disableItemRegurgitation",
      "pretty": "^#cc164a;Disable Item Regurgitation",
      "description": "Prevents you from regurgitating items from prey.",
      "tab": "vore"
    },
    {
      "name": "disableRegurgitatedClothingTint",
      "pretty": "^#cc164a;Disable Clothing Tint",
      "description": "Prevents regurgitated clothing from being discoloured.",
      "tab": "vore"
    },
    {
      "name": "disablePrey",
      "pretty": "^#b8eb00;Disable Prey",
      "description": "Prevents you from being eaten.",
      "tab": "vore"
    },
    {
      "name": "disablePreyDigestion",
      "pretty": "^#b8eb00;Disable Prey Digestion",
      "description": "Prevents you from losing health while eaten.\n^gray;Also prevents breath loss.",
      "tab": "vore"
    },
    {
      "name": "disablePreyBelches",
      "pretty": "^#b8eb00;Disable Prey Belches",
      "description": "When digested, prevents you from causing preds to belch.",
      "tab": "vore"
    },
    {
      "name": "disablePreyBreathLoss",
      "pretty": "^#b8eb00;Disable Breath Loss",
      "description": "Disables breath loss when eaten.\n^gray;Only occurs without an EPP.",
      "tab": "vore"
    },
    {
      "name": "teleportationVore",
      "pretty": "^#b8eb00;Teleportation Accidents",
      "description": "Teleporting directly onto an NPC or player puts you in their stomach.",
      "tab": "vore",
      "clientOnly": true
    },
    {
      "name": "spectatePred",
      "pretty": "^#b8eb00;Spectate Pred",
      "description": "When digested, makes you spectate the pred.",
      "tab": "vore",
      "clientOnly": true
    },
    {
      "name": "disableEscape",
      "pretty": "^#b8eb00;Disable Escape",
      "description": "Disables escaping when eaten.\n^gray;Useful for Roleplay.",
      "tab": "vore",
      "clientOnly": true
    },
    {
      "name": "legacyMode",
      "pretty": "^#ccbbff;Legacy Mode",
      "description": "Attempts to emulate the gameplay of older ^#ccbbff;Big Fatties^reset; versions of the mod.\n^#f96aa6aa;Stomach capacity^gray; is ^green;infinite^reset;.\n^#b8eb00aa;All digestion^gray; set to ^green;500%\n^#b8eb00aa;Gurgle Amount^gray; set to ^green;1000%\n^#00ebceaa;Food absorption^gray; set to ^green;100%",
      "stats": [
        ["digestion", "override", 5],
        ["gurgleAmount", "override", 10],
        ["voreDamage", "override", 5],
        ["voreCooldown", "override", 0],
        ["bloatDigestion", "override", 5],
        ["capacity", "override", 1000000000],
        ["absorption", "override", 1],
        ["deathPenalty", "override", 0]
      ],
      "hideStats": true,
      "footer": "\n^#665599;Skills^gray; have no effect.\n^#665599;Accessories^gray; have no effect.\n^#665599;Traits^gray; have no effect.\n^#b8eb00aa;Experience^gray; cannot be gained.\n^#cc164aaa;Vore^gray; does not require skills.\n^#cc164aaa;Vore^gray; has no cooldown.",
      "tab": "miscellaneous"
    },
    {
      "name": "admin",
      "pretty": "^#ccbbff;Admin Features",
      "description": "Enables size changing, extra debug info and free skills.\n^gray;Identical to ^#665599;/admin^gray;, but only for ^#ccbbff;StarPounds^gray;.",
      "tab": "miscellaneous",
      "clientOnly": true
    },
    {
      "name": "weightUnit",
      "type": "radio",
      "pretty": "^#ccbbff;Weight Units",
      "description": "Changes which measurement unit your weight is displayed in.",
      "tab": "miscellaneous",
      "default": "metric",
      "options": [
        { "name": "Metric", "value": "metric", "description": "Display your weight in kilograms." },
        { "name": "Imperial", "value": "imperial", "description": "Display your weight in pounds." },
        { "name": "Cows", "value": "cow", "description": "Display your weight in cows." }
      ],
      "clientOnly": true
    },
    {
      "name": "showDebug",
      "pretty": "^#ccbbff;Debug Mode",
      "description": "Show ^#ccbbff;StarPounds^reset; data inside the debug menu and other places.",
      "footer": "^#665599;Nerdiness^gray; increased by ^green;100%\n\n^gray;View by using the ^#665599;/debug^gray; command.",
      "tab": "miscellaneous",
      "clientOnly": true
    },
    {
      "name": "disableChatMessages",
      "pretty": "^#ccbbff;Disable Chat Messages",
      "description": "Disables chat messages for gaining levels.",
      "tab": "miscellaneous",
      "clientOnly": true,
      "oSBOnly": true
    },
    {
      "name": "combinedStageTest",
      "pretty": "^#ccbbff;Combined stage test",
      "description": "Test option for combined stages.",
      "tab": "miscellaneous"
    }
  ]
}
