{
  "default": {
    "pretty": "Default",
    "weightGain": false,
    "fullbright": false,

    "weight": 55,
    "foodType": "prey",
    "weightFoodType": "preyWeight",

    "sizes" : "/scripts/starpounds/size/humanoid.config",

    "traits": [],
    "preyTreasure": []
  },
  // Vanilla species
  "apex": { "pretty": "Apex", "weightGain": true, "traits": ["agile", "narrowStomach"] },
  "avian": { "pretty": "Avian", "weightGain": true, "traits": ["volant", "feathered", "hollowBones"] },
  "floran": { "pretty": "Floran", "weightGain": true, "traits": ["hastyDigestion", "bingeFeeder", "savage", "carnivore"] },
  "glitch": { "pretty": "Glitch", "weightGain": true, "traits": ["metallic", "dense"], "robotic": true },
  "human": { "pretty": "Human", "weightGain": true, "traits": ["geneticPlasticity"] },
  "hylotl": { "pretty": "Hylotl", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth"] },
  "novakid": { "pretty": "Novakid", "weightGain": true, "traits": ["volatileDigestion", "plasmoid"], "fullbright": true, "appendDirectives": "?replace;ffffff=ffffff;" },
  // Vanilla species (NPCs)
  "fenerox": { "pretty": "Fenerox", "weightGain": true, "traits": ["desertDweller", "hypophagic"] },
  "penguin": { "pretty": "Penguin", "weight": 20, "traits": ["aquatic", "small"] },
  "shadow": { "pretty": "Shadow", "weightGain": true, "traits": ["spectral", "ethereal"], "foodType": "preyInedible", "weightFoodType": "preyWeightInedible" },
  // StarPounds species
  "harpy": { "pretty": "Harpy", "weightGain": true, "traits": ["winged", "hollowBones"], "override": "human" },
  "mootant": { "pretty": "Mootant", "weightGain": true, "traits": ["mooshiDNA", "bingeFeeder", "acceleratedGrowth", "hyperphagic"] },
  "throg": { "pretty": "Throg", "weightGain": true, "traits": ["enzymaticDiversity", "gorgeFeeder", "manEater", "hyperphagic"] },
  // NotCostumes™ / ShyDispatch lore species
  "agaran": { "pretty": "Agaran", "weightGain": true, "traits": ["fungal", "efficientDigestion"] },
  "alpaca": { "pretty": "Alpaca", "weightGain": true, "traits": ["quadruped", "swift", "efficientDigestion"] },
  "deadbeat": { "pretty": "Deadbeat", "weightGain": true, "traits": ["savage", "desertDweller"], "override": "template", "prependDirectives": "?replace;ffca8a=ffe2c5;e0975c=ffc181;a85636=d39c6c;6f2919=c7815b;" },
  "faahri": { "pretty": "Faahri", "weightGain": true, "trait": ["agile", "narrowStomach"] },
  "frogg": { "pretty": "Frogg", "weightGain": true, "trait": ["amphibian", "saltatorial", "bingeFeeder", "carnivore"] },
  // Modded species
  "avali": { "pretty": "Avali", "weightGain": true, "traits": ["winged", "hollowBones", "chionophile"] },
  "aegi": { "pretty": "Aegi", "weightGain": true, "traits": ["evolved"], "override": "human", "prependDirectives": "?replace;dc1f00=f9f9f9;be1b00=bcbcbc;951500=9e9e9e;" },
  "angel": { "pretty": "Angel", "weightGain": true, "traits": ["winged", "ethereal"], "override": "human", "prependDirectives": "?replace;dc1f00=ffffff;be1b00=efefef;951500=cacaca;" },
  "arcanian": { "pretty": "Arcanian", "weightGain": true, "traits": ["hastyDigestion", "desertDweller"]},
  "argonian": { "pretty": "Argonian", "weightGain": true, "traits": ["diseaseResistant", "scaled", "hyperphagic"] },
  "brokentons": { "pretty": "Brokenton", "weightGain": true, "trait": ["saltatorial", "savage", "hyperphagic"], "override": "human" },
  "deerclops": { "pretty": "Deerclops", "weightGain": true, "traits": ["manEater", "bingeFeeder", "hyperphagic"]},
  "duraalien": { "pretty": "Alien", "weightGain": true, "traits": ["evolved"], "override": "template", "prependDirectives": "?replace;ffca8a=ffe2c5;e0975c=ffc181;a85636=d39c6c;6f2919=c7815b;" },
  "duragoblin": { "pretty": "Goblin", "weightGain": true, "traits": ["enzymaticDiversity", "savage"], "override": "human" },
  "duramerling": { "pretty": "Merling", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth"] },
  "duraoni": { "pretty": "Oni", "weightGain": true, "traits": ["savage", "heavyset"], "override": "human" },
  "durasharkling": { "pretty": "Sharkling", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth"], "override": "duramerling" },
  "eevee": { "pretty": "Eevee", "weightGain": true, "traits": ["geneticPlasticity", "pokemon"] },
  "epshadow": { "pretty": "Shadow", "weightGain": true, "traits": ["spectral", "ethereal"] },
  "felin": { "pretty": "Felin", "weightGain": true, "traits": ["agile", "carnivore", "hyperphagic"] },
  "fennix": { "pretty": "Fennix", "weightGain": true, "traits": ["desertDweller", "hypophagic"] },
  "fragmentedruin": { "pretty": "Fragment of Ruin", "weightGain": true, "traits": ["assimilator", "gorgeFeeder", "tendrilled", "hyperphagic"] },
  "gelsemis": { "pretty": "Gelsemis", "weightGain": true, "traits": ["thickSkin", "ligneous"], "override": "human" },
  "gilten": { "pretty": "Gilten", "weightGain": true, "traits": ["elemental", "thinSkin"] },
  "glaceonfox": { "pretty": "Glaceon", "weightGain": true, "traits": ["chionophile", "pokemon"] },
  "halfsea": { "pretty": "Halfsea", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth"] },
  "healeons": { "pretty": "Healeon", "weightGain": true, "traits": ["winged", "ethereal"], "override": "human" },
  "hisuzor": { "pretty": "Zoroark", "weightGain": true, "traits": ["hastyDigestion", "swift", "pokemon"] },
  "inkling": { "pretty": "Inkling", "weightGain": true, "traits": ["swift", "acceleratedGrowth", "soluble"] },
  "kanashimi": { "pretty": "Kanashimi", "weightGain": true, "traits": ["chionophile", "hypophagic"] },
  "kitsune": { "pretty": "Kitsune", "weightGain": true, "traits": ["agile", "carnivore", "hyperphagic"] },
  "lucario": { "pretty": "Lucario", "weightGain": true, "traits": ["thickSkin", "swift", "flammable", "pokemon"] },
  "mindflayer": { "pretty": "Mindflayer", "weightGain": true, "traits": ["assimilator", "flammable", "tendrilled", "carnivore"] },
  "myfirsttest": { "pretty": "Latex", "weightGain": true, "traits": ["assimilator", "gooey", "hyperphagic", "manEater"], "prependDirectives": "?replace;ffca8a=ffe2c5;e0975c=ffc181;a85636=d39c6c;6f2919=c7815b;" },
  "narfins": { "pretty": "Narfin", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth"] },
  "nightgaunt": { "pretty": "Nightgaunt", "weightGain": true, "traits": ["winged", "swift", "narrowStomach", "carnivore"] },
  "nightmares": { "pretty": "Nightmare", "weightGain": true, "traits": ["ethereal", "thermophile"] },
  "ningen": { "pretty": "Ningen", "weightGain": true, "traits": ["geneticPlasticity"], "override": "human" },
  "nostos": { "pretty": "NostOS", "weightGain": true, "traits": ["metallic", "dense"], "robotic": true },
  "offworlder": { "pretty": "Offworlder", "weightGain": true, "traits": ["geneticPlasticity"], "override": "template", "prependDirectives": "?replace;ffca8a=e0975c;" },
  "om_ruined": { "pretty": "Ruined Angel", "weightGain": true, "traits": ["winged", "ethereal"], "override": "human", "prependDirectives": "?replace;dc1f00=ffffff;be1b00=efefef;951500=cacaca;" },
  "saturn": { "pretty": "Saturnian", "weightGain": true, "traits": ["winged", "hypophagic", "flammable"] },
  "saturn2": { "pretty": "Thaumoth", "weightGain": true, "traits": ["winged", "hypophagic", "flammable"], "override": "saturn" },
  "saturnmothman": { "pretty": "Saturnian", "weightGain": true, "traits": ["winged", "hypophagic", "flammable"], "override": "saturn" },
  "serperior": { "pretty": "Serperior", "weightGain": true, "traits": ["serpentine", "hypophagic", "pokemon"] },
  "shoggoth": { "pretty": "Shoggoth", "weightGain": true, "traits": ["assimilator", "bingeFeeder", "flammable", "hyperphagic", "manEater"] },
  "skumks": { "pretty": "Skunk", "weightGain": true, "traits": ["efficientDigestion", "diseaseResistant"] },
  "springeontons": { "pretty": "Springeonton", "weightGain": true, "trait": ["saltatorial", "swift", "thinSkin"] , "override": "human" },
  "sylveonoid": { "pretty": "Sylveon", "weightGain": true, "traits": ["agile", "hypophagic", "thinSkin", "pokemon"] },
  "tirastrolls": { "pretty": "Troll", "weightGain": true, "traits": ["thickSkin", "savage", "hyperphagic"], "override": "human", "prependDirectives": "?replace;ffe2c5=e2e2e2;ffc181=c0c0c0;d39c6c=a0a0a0;c7815b=919191;" },
  "troll": { "pretty": "Troll", "weightGain": true, "traits": ["thickSkin", "savage", "hyperphagic"], "override": "human", "prependDirectives": "?replace;ffe2c5=e2e2e2;ffc181=c0c0c0;d39c6c=a0a0a0;c7815b=919191;" },
  "vaporeon": { "pretty": "Vaporeon", "weightGain": true, "traits": ["aquatic", "acceleratedGrowth", "pokemon"] },
  "vampire": { "pretty": "Vampire", "weightGain": true, "traits": ["swift", "chionophile"], "override": "human" },
  "voidglitches": { "pretty": "Void Glitch", "weightGain": true, "traits": ["spectral", "ethereal"], "override": "human", "prependDirectives": "?replace;dc1f00=414159;be1b00=333346;951500=1E1E2D;" },
  "zoroark": { "pretty": "Zoroark", "weightGain": true, "traits": ["hastyDigestion", "swift", "pokemon"] },
  // Custom NPCs
  "mini": { "pretty": "Mini", "weightGain": true, "traits": ["efficientDigestion", "cameo_mini"], "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "seirra": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "alipos": { "weightGain": true, "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "wubs": { "pretty": "Wubs", "weightGain": true, "traits": ["gorgeFeeder", "heavyset", "hyperphagic", "manEater"], "override": "felin", "prependDirectives": "?replace;6f2919=c7815b;a85636=d39c6c;e0975c=ffc181;ffca8a=ffe2c5;" },
  "sixfour": { "pretty": "Six", "weightGain": true, "traits": ["gorgeFeeder", "hyperphagic", "manEater"], "override": "sixfour" },
  "lucerai": { "pretty": "Lucy", "weightGain": true, "traits": ["gorgeFeeder", "hyperphagic", "manEater"], "override": "template" },
  "frehki": { "pretty": "Avali", "weightGain": true, "traits": ["winged", "hollowBones", "chionophile"], "override": "avali", "prependDirectives": "?replace;786440=bbb89d;a2885c=ebdeb8;ccb07f=fcf4d1;42331c=95957f?replace;4e4e4e=ac9d71;787878=cab086;212121=5c5b44;3c3c3c=827c5d?replace;1b8d78=17688c;1c3b42=1c2f41;67ffa2=68e0fe;1ad589=1cb4d4?replace;1b8d78=17688c;1c3b42=1c2f41;67ffa2=68e0fe;1ad589=1cb4d4" },
  "leggs": { "pretty": "Leggs", "weightGain": true, "traits": ["gorgeFeeder", "hyperphagic", "manEater"], "override": "mootant" },
  "koiyn": { "pretty": "Koiyn", "weightGain": true, "traits": ["cameo_koiynDigestion", "cameo_koiynCapacity", "cameo_koiynVore"], "override": "koiyn" }
}

// EXAMPLE
// This would make the 'human' species use the 'avian' species' fat sprites instead,
// and apply some directives so that the avian sprite colours match the player's directives.
// When eaten by another entity, they would also take up 120 'space' in their stomach, and give:
// 12 food (weight * foodRatio)
// 108 bloat (weight * (1 - foodRatio))
// 50 experience points
//
//  "human": {
//    "pretty": "Human"
//    "weightGain": true,
//    "override": "avian",
//    "prependDirectives": "?replace;6f2919=951500;a85636=be1b00;e0975c=dc1f00;ffca8a=f32200;951500=c7815b;be1b00=d39c6c;dc1f00=ffc181;f32200=ffe2c5;",
//    "appendDirectives": "",
//
//    "weight": 120,
//    "foodRatio": 0.1,
//    "experience": 50
//  }
// "robotic" parameter just makes the DNA symbols in the trait menu show up as tech cards. Might be used elsewhere in the future.
// All preyTreasure treasure pools get rolled to add items to a predator's stomach.
