{
  "version": "0.1.2", // Major.Minor.Patch
  "settings": {
    "modules": {
      "base": ["events", "versioning", "data", "stats", "effects"],
      "entity": ["sound", "liquid", "movement"],
      "humanoid": ["size", "stomach", "statuses", "exercise", "breasts"],
      "player": ["player", "hunger", "strain", "experience", "accessories", "drinking", "respawn", "supersize", "trackers", "food", "pizza", "debug", "oSB"],
      "npc": ["npc"],
      "monster": ["monster", "stomach"],
      "vore": ["prey", "pred"]
    },
    "thresholds": {
      "stomach": [
        // name: <variant>, amount: <minimum contents for variant>
        {"name": "saturated", "amount": 20},
        {"name": "stuffed", "amount": 40},
        {"name": "packed", "amount": 60},
        {"name": "filled", "amount": 80},
        {"name": "glutted", "amount": 100},
        {"name": "gorged", "amount": 150}
      ],
      "breasts": [
        // name: <variant>, amount: <minimum contents for variant>
        {"name": "busty", "amount": 20},
        {"name": "milky", "amount": 30}
      ],
      "strain": {
        // Should change the range in the the status effects if you end up patching these.
        "starpoundsstomach": 1,
        "starpoundsstomach2": 2,
        "starpoundsstomach3": 3
      }
    },
    // Weight cap
    "maxWeight": 10000,
    // Belch pitch range. Gender modifiers increase the total range by a flat amount.
    "belchPitch": [0.9, 1.2],
    "belchGenderModifiers": {"male": -0.1, "female": 0.1},
    "belchAlertRadius": 20,  // The radius for alerting enemies when belching.
    // Vore stuffs.
    "voreMonsterFood": 20, // How much food per 'block' of entity space monsters cause when eaten. Also affected by the preyMonster food type.
    "voreMonsterFoodCap": 250, // Maximum food a monster can give.
    "particleTemplates": {
      "belch": {
        "type": "ember",
        "size": 1.25,
        "color": [60, 150, 224, 200],
        "position": [0, 0],
        "destructionAction": "shrink",
        "destructionTime": 0.2,
        "layer": "middle",
        "timeToLive": 0.5,
        "variance": {"initialVelocity": [5, 3], "size": 0.25, "timeToLive": 0.25}
      },
      "vore": {
        "type": "ember",
        "size": 1,
        "color": [255, 255, 255], // This gets changed in the script
        "position": [0, 0],
        "destructionAction": "fade",
        "destructionTime": 0.25,
        "layer": "middle",
        "variance": {"initialVelocity": [2, 2], "size": 0.5, "timeToLive": 0.05}
      },
      "effect": {
        "type": "ember",
        "size": 1,
        "color": [255, 157, 210, 128],
        "light": [82, 20, 53],
        "position": [0, 0],
        "initialVelocity": [0, 1],
        "finalVelocity": [0, 10],
        "approach": [0, 10],
        "destructionAction": "shrink",
        "destructionTime": 0.2,
        "fade": 1,
        "layer": "back",
        "fullbright": true,
        "timeToLive": 0.1,
        "variance": {
          "position": [1, 2],
          "initialVelocity": [2, 1],
          "size": 0.5,
          "timeToLive": 0.1
        }
      }
    }
  }
}
