[
  {"id": "grace", "name": "^#2862e9;« Cute Employee Fee", "beaconColours": {"splash": [[40, 98, 233, 196]]}, "npcType": "starpoundspizzaapple", "price": 250},
  {"id": "mini", "name": "^yellow;^#c4855d; Deer Trainee", "beaconColours": {"splash": [[193, 133, 93, 196]]}, "npcType": "starpoundspizzamini", "price": -250}
]
