{
  "paneLayer": "Hud",
  "gui" : {
    "background" : {
      "type" : "background",
      "fileFooter" : "/assetmissing.png?crop=0;0;1;1?multiply=00000000?scalenearest=200"
    },
    "canvas" : {
      "type" : "canvas",
      "rect" : [0, 0, 200, 200],
      "captureMouseEvents" : true
    }
  },
  "canvasClickCallbacks" : {
    "canvas" : "canvasClickEvent"
  },
  "scripts" : ["/interface/scripted/starpounds/radialmenu/radialmenu.lua"],
  "scriptDelta" : 1
}
