{
  "sizeKeys": ["", "soft", "thick", "chubster", "plump", "fatty", "blob", "immobile"],
  // Weight cap.
  "maxWeight": 5000,
  // Base stomach capacity.
  "stomachCapacity": 35,
  // Base breast capacity.
  "breastCapacity": 10,
  // scalingSize: Index for the size for when scaling effects are maxed. (Such as ice/poison resistance, throg sphere protection, etc)
  // activationSize: Index for the size for when some effects activate. (Such as ice/poison effect immunity)
  "scalingSize": 6, // Default, Soft, Thick, Chubster, Plump, [Fatty], Blob, Immobile
  "activationSize": 4, // Default, Soft, Thick, [Chubster], Plump, Fatty, Blob, Immobile
  "sizes": [
    {
      "size": "", // Name for the size. Base size is blank.
      "weight": 0, // Weight needed for this size.
      "healthMultiplier": 1, // Multiplier for base health. (Does not affect armour/other sources of health)
      "movementMultiplier": 1, // % Movement speed reduction.
      // Thresholds for when to apply variants.
      "thresholds": {
        "stomach": [
          // name: <variant>, amount: <minimum contents for variant>
          {"name": "saturated", "amount": 20},
          {"name": "stuffed", "amount": 40},
          {"name": "packed", "amount": 60},
          {"name": "filled", "amount": 80},
          {"name": "glutted", "amount": 100},
          {"name": "gorged", "amount": 150}
        ],
        "breasts": [
          // name: <variant>, amount: <minimum contents for variant>
          {"name": "busty", "amount": 20},
          {"name": "milky", "amount": 30}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [40, 80, 150],
      "breastOption": "breastSize",
      "breastOptions": [20, 30],

      "controlParameters": { "default": {} }
    },
    {
      "size": "soft",
      "weight": 25,
      "stomachCapacity": 42, // Base stomach capacity for this size.
      "healthMultiplier": 1.1,
      "movementMultiplier": 0.95,
      "thresholds": { // 1x
        "stomach": [
          {"name": "stuffed", "amount": 40},
          {"name": "packed", "amount": 60},
          {"name": "filled", "amount": 80},
          {"name": "glutted", "amount": 100},
          {"name": "gorged", "amount": 150}
        ],
        "breasts": [
          {"name": "busty", "amount": 20},
          {"name": "milky", "amount": 30}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [40, 80, 150],
      "breastOption": "breastSize",
      "breastOptions": [20, 30],

      "belchMultiplier": {"volume": 1.05, "pitch": 0.975},

      "controlParameters": { "default": {} }
    },
    {
      "size": "thick",
      "weight": 75,
      "stomachCapacity": 49,
      "healthMultiplier": 1.25,
      "movementMultiplier": 0.85,
      "thresholds": { // 1.1x
        "stomach": [
          {"name": "stuffed", "amount": 44},
          {"name": "packed", "amount": 66},
          {"name": "filled", "amount": 88},
          {"name": "gorged", "amount": 165}
        ],
        "breasts": [
          {"name": "busty", "amount": 22},
          {"name": "milky", "amount": 33}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [44, 88, 165],
      "breastOption": "breastSize",
      "breastOptions": [22, 33],

      "belchMultiplier": {"volume": 1.1, "pitch": 0.95},

      "controlParameters": { "default": {
        "standingPoly": [[-0.90, -2.0], [-0.4, -2.5], [0.4, -2.5], [0.90, -2.0], [0.90, -1.45], [0.75, -0.55], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-0.75, -0.55], [-0.90, -1.45]],
        "crouchingPoly": [[-0.90, -2.0], [-0.4, -2.5], [0.4, -2.5], [0.90, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
      }}
    },
    {
      "size": "chubster",
      "weight": 250,
      "stomachCapacity": 56,
      "healthMultiplier": 1.5,
      "movementMultiplier": 0.75,
      "thresholds": { // 1.25x
        "stomach": [
          {"name": "stuffed", "amount": 50},
          {"name": "filled", "amount": 100},
          {"name": "gorged", "amount": 187.5}
        ],
        "breasts": [
          {"name": "busty", "amount": 25},
          {"name": "milky", "amount": 37.5}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [50, 100, 187.5],
      "breastOption": "breastSize",
      "breastOptions": [25, 37.5],

      "belchMultiplier": {"volume": 1.15, "pitch": 0.9},

      "controlParameters": { "default": {
        "standingPoly": [[-1.25, -2.0], [-0.7, -2.5], [0.7, -2.5], [1.25, -2.0], [1.25, -0.95], [1.25, -0.45], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.25, -0.45], [-1.25, -0.95]],
        "crouchingPoly": [[-1.25, -2.0], [-0.7, -2.5], [0.7, -2.5], [1.25, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
      }}
    },
    {
      "size": "plump",
      "weight": 750,
      "stomachCapacity": 63,
      "healthMultiplier": 2,
      "movementMultiplier": 0.6,
      "thresholds": { // 1.5x
        "stomach": [
          {"name": "stuffed", "amount": 60},
          {"name": "filled", "amount": 120},
          {"name": "gorged", "amount": 225}
        ],
        "breasts": [
          {"name": "busty", "amount": 30},
          {"name": "milky", "amount": 45}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [60, 120, 225],
      "breastOption": "breastSize",
      "breastOptions": [30, 45],

      "belchMultiplier": {"volume": 1.2, "pitch": 0.875},

      "controlParameters": { "default": {
        "standingPoly": [[-1.6, -2.0], [-1.0, -2.5], [1.0, -2.5], [1.6, -2.0], [1.6, -0.95], [1.6, -0.25], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.6, -0.25], [-1.6, -0.95]],
        "crouchingPoly": [[-1.6, -2.0], [-1.0, -2.5], [1.0, -2.5], [1.6, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1]]
      }}
    },
    {
      "size": "fatty",
      "weight": 1500,
      "stomachCapacity": 70,
      "healthMultiplier": 3,
      "movementMultiplier": 0.45,
      "thresholds": { // 2x
        "stomach": [
          {"name": "stuffed", "amount": 80},
          {"name": "filled", "amount": 160},
          {"name": "gorged", "amount": 300}
        ],
        "breasts": [
          {"name": "busty", "amount": 40},
          {"name": "milky", "amount": 60}
        ]
      },
      "stomachOption": "stomachSize",
      "stomachOptions": [80, 160, 300],
      "breastOption": "breastSize",
      "breastOptions": [40, 60],

      "belchMultiplier": {"volume": 1.25, "pitch": 0.85},

      "controlParameters": { "default": {
        "standingPoly": [[-2.45, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.45, -2.0], [2.45, -0.95], [2.2, -0.25], [1.6, -0.05], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65], [-1.6, -0.05], [-2.2, -0.25], [-2.45, -0.95]],
        "crouchingPoly": [[-2.45, -2.0], [-1.9, -2.5], [1.9, -2.5], [2.45, -2.0], [2.45, -1], [1.9, -0.5], [-1.9, -0.5], [-2.45, -1]]
      }}
    },
    {
      "size": "blob",
      "weight": 2500,
      "stomachCapacity": 140,
      "healthMultiplier": 5,
      "movementMultiplier": 0.3,
      "thresholds": { "stomach": [], "breasts": [] },
      "disableHyper": true,
      "projectile": "starpoundsblobhitbox",
      "yOffset": -1.4975,

      "belchMultiplier": {"volume": 1.25, "pitch": 0.85},

      "controlParameters": { "default": {
        "standingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
        "crouchingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]]
      }}
    },
    {
      "size": "immobile",
      "weight": 3750,
      "stomachCapacity": 140,
      "healthMultiplier": 10,
      "movementMultiplier": 0,
      "thresholds": { "stomach": [], "breasts": [] },
      "disableHyper": true,
      "projectile": "starpoundsblobhitbox",
      "yOffset": -1.4975,

      "belchMultiplier": {"volume": 1.25, "pitch": 0.85},

      "controlParameters": { "default": {
        "standingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]],
        "crouchingPoly": [[-5.3, -3.0], [-4.9, -3.5], [-1.4, -3.9975], [1.4, -3.9975], [4.9, -3.5], [5.3, -3.0], [4.8, -1.85], [1.6, 0.0025], [-1.6, 0.0025], [-4.8, -1.85]]
      }}
    }
  ]
}
