{
  "scriptDelta" : 0,
  "data": {
    "version": 1,

    "enabled": true,
    "weight": 0,
    "stomach": {},
    "stomachEntities": [],
    "breasts": {"type": "milk", "amount": 0},
    "experience": {"level": 0, "amount": 0},
    "options": {},
    "skills": {},
    "effects": {},
    "discoveredEffects": {}
  }
}
