{
  "scriptDelta" : 0,
  "data": {
    "version": 0,

    "enabled": true,
    "weight": 0,
    "stomachContents": {},
    "stomachLerp": 0,
    "stomachEntities": [],
    "breasts": 0,
    "breastType": "milk",
    "level": 0,
    "experience": 0,
    "options": {},
    "stats": {},
    "skills": {},
    "accessory": null,
    "effects": {},
    "discoveredEffects": {}
  }
}
