{
  "scriptDelta" : 5,
  // Positions to check for initial liquid.
  "checkPositions": [ [0, 0], [0, -0.5] ],
  // Based on the drinking stat, increase the amount of spaces that get checked (and drank).
  "levels": [
    // [queryRange, vacuumForce, [tiles]]
    [2, [ // 1x1
                [0,  0]
    ]],
    [3, [ // 3x1
      [-1,  0], [0,  0], [1,  0]
    ]],
    [3.5, [ // 3x3 square, missing corners.
                [0,  1],
      [-1,  0], [0,  0], [1,  0],
                [0, -1]
    ]],
    [5, [ // 3x3 square
      [-1,  1], [0,  1], [1,  1],
      [-1,  0], [0,  0], [1,  0],
      [-1, -1], [0, -1], [1, -1]
    ]],
    [8, [ // 5x5 square, missing corners
                [-1,  2], [0,  2], [1,  2],
      [-2,  1], [-1,  1], [0,  1], [1,  1], [2,  1],
      [-2,  0], [-1,  0], [0,  0], [1,  0], [2,  0],
      [-2, -1], [-1, -1], [0, -1], [1, -1], [2, -1],
                [-1, -2], [0, -2], [1, -2]
    ]]
  ]
}
