{
  "scriptDelta" : 1,
  // Experience amount and percent increase per level.
  "experienceAmount": 50,
  "experienceIncrement": 0,
  // Ratio of XP decrease to hunger increase with the disable hunger setting.
  "hungerPenalty": 0.2, // +100% hunger = -20% experience
  "maxLevel": 99,
  // oSB chat messages when levelling up. [One level, More than one level]
  "levelMessages": ["Gained ^#b8eb00;%s^reset; experience level! ^#b8eb00;(%s)", "Gained ^#b8eb00;%s^reset; experience levels! ^#b8eb00;(%s)"]
}
