{
  "scriptDelta" : 0,
  "cache": {
    "milk" : 10,
    "chocolate" : 5,
    "sugar" : 5,
    "wheat" : 2.5,
    "egg" : 2.5,

    "alienmeat" : 5,
    "rawpoultry" : 5,
    "rawham" : 5,
    "rawbacon" : 7.5,
    "rawribmeat" : 10,

    "starpoundspeanutbutter": 20,

    "starpoundsmoomilk": 15,
    "starpoundschocolatemoomilk": 20,
    "starpoundshoneymoomilk": 20,
    "starpoundsstrawberrymoomilk": 20,

    "starpoundsmoomilkdeluxe": 25,
    "starpoundsstrawberrymoomilkdeluxe": 30,
    "starpoundshoneymoomilkdeluxe": 20,
    "starpoundschocolatemoomilkdeluxe": 30
  },
  // Specific item category -> StarPounds food type.
  "categoryTypes": {
    "food" : {"food": "starpoundsfood_fooditem", "fat": "starpoundsfood_fatfood"},
    "drink" : {"food": "starpoundsfood_drinkitem", "fat": "starpoundsfood_fatliquid"}
  },
  // Bonus experience for food rarity.
  "experienceBonus": {"uncommon": 0.05, "rare": 0.1, "legendary": 0.2}
}
