{
  "scriptDelta" : 0,
  "foods": {
    "default": {
      "digestionStats": [["digestion", 1]], // Stats that affect the rate of digestion. Formatted as ["statName", mult]. (Additive)
      "amountStats": [], // List of stats that affect the amount of food applied.
      "maxCapacity": null, // Max percent of capacity (1 = 100%) the food type can occupy.
      "ignoreCapacity": null, // Is not affected by/doesn't share digestion with other food types taking up capacity.
      "ignoreGurgles": null, // Is not affected by gurgle digestion.
      "ignoreAbsorption": null, // Weight gain is not affected by absorption.
      "ignoreHealingCap": null, // Healing is applied separately from the healing cap.
      "belchable": null, // Whether this food type causes belching.
      "triggersBelch": null, // Whether this food type triggers a delayed belch when stuffed.
      "triggersSquelch": null, // Whether this food type triggers the squelch sound effect when stuffed.
      "triggersStretching": null, // Whether this food type grants the stomach stretch effect.
      "triggersFullnessDelay": null, // Whether this food will activate the skill delay for the wellfed effect.
      "stuffingDamage": null, // How much damage to apply for every 1% fullness past maximum stomach strain.

      "baseDigestion": 0, // Base digestion rate, regardless of stats.
      "digestionRate": 1, // Flat amount of food digested per second.
      "percentDigestionRate": 0.01, // Percent amount of food digested per second. Actual amount slightly higher when compounded at the tick rate.

      "multipliers": {
        "food": 1, // Hunger restored.
        "weight": 1, // Weight gained.
        "capacity": 1, // Capacity reduced.
        "healing": 1, // Health restored.
        "belch": 0, // Effectiveness of belching.
        "experience": 0 // Experience gained.
      }
    },
    // Food items.
    "foodItem": {
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": { // Food items take up less stomach space.
        "capacity": 0.5, "experience": 1
      }
    },
    "drinkItem": {
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,
      // Liquids digest faster.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": { // Liquid food items take up even less stomach space.
        "capacity": 0.375, "experience": 1
      }
    },
    "foodItem_noExperience": { // Used for infinite food generation objects.
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": { // Food items take up less stomach space.
        "capacity": 0.5
      }
    },
    "drinkItem_noExperience": {
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,
      // Liquids digest faster.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": { // Liquid food items take up even less stomach space.
        "capacity": 0.375
      }
    },
    "hugeFood": { // Double weight gain and belly size.
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,
      // No % digest, but faster flat amount.
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "weight": 2, "capacity": 2, "experience": 1
      }
    },
    "bonusExperience": {
      "ignoreCapacity": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 0, "healing": 0, "experience": 1
      }
    },
    // Liquids.
    "liquid": {
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "belchable": true,
      "triggersStretching": true,
      // Liquids digest faster, and take up less space.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 0.375, "healing": 0, "belch": 0.25
      }
    },
    "liquidWater": {
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "belchable": true,
      "triggersStretching": true,
      "ignoreHealingCap": true,
      // Water digests rapidly.
      "baseDigestion": 0,
      "digestionRate": 5,
      "percentDigestionRate": 0.025,
      // Water grants some healing.
      "multipliers": {
        "food": 0, "weight": 0, "capacity": 0.375, "healing": 0.5, "belch": 0.25
      }
    },
    "liquidHealingWater": {
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "belchable": true,
      "triggersStretching": true,
      "ignoreHealingCap": true,
      // Water digests rapidly.
      "baseDigestion": 0,
      "digestionRate": 5,
      "percentDigestionRate": 0.025,
      // Water grants some healing.
      "multipliers": {
        "food": 0, "weight": 0, "capacity": 0.375, "healing": 1, "belch": 0.25
      }
    },
    "liquidFood": {
      "digestionStats": [["digestion", 1]],
      "stuffingDamage": 0,
      "triggersStretching": true,
      // Liquids digest faster, and take up less space.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": {
        "capacity": 0.375, "experience": 0.05
      }
    },
    "liquidFood_noExperience": {
      "digestionStats": [["digestion", 1]],
      "stuffingDamage": 0,
      "triggersStretching": true,
      // Liquids digest faster, and take up less space.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": {
        "capacity": 0.375
      }
    },
    // Other.
    "bloat": {
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "maxCapacity": 3, // Maxes out all tiers of the stomach, but doesn't scale infinitely.
      "belchable": true,
      // No % digest, but faster flat amount.
      "baseDigestion": 0,
      "digestionRate": 3,
      "percentDigestionRate": 0,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 1, "healing": 0, "belch": 1
      }
    },
    "air": { // Same as bloat, but barely digests outside of belches.
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "maxCapacity": 3, // Maxes out all tiers of the stomach, but doesn't scale infinitely.
      "belchable": true,
      "triggersStretching": true,
      "triggersBelch": true,

      "baseDigestion": 0,
      "digestionRate": 0.25,
      "percentDigestionRate": 0.0025,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 1, "healing": 0, "belch": 10
      }
    },
    "fat": { // Pure weight gain. 'Digests' fast for smooth transition.
      "digestionStats": [],
      "ignoreCapacity": true,
      "ignoreAbsorption": true,
      "ignoreGurgles": true,

      "baseDigestion": 5,
      "digestionRate": 1,
      "percentDigestionRate": 0.05,

      "multipliers": {
        "food": 0, "capacity": 0, "healing": 0
      }
    },
    "fatFood": { // Ditto for above, but digests like food and is affected by absorption.
      "ignoreCapacity": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "capacity": 0, "healing": 0
      }
    },
    "fatLiquid": { // Same, but liquid digest speed.
      "ignoreCapacity": true,

      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.015,

      "multipliers": {
        "food": 0, "capacity": 0, "healing": 0
      }
    },
    // Weapons. Same as their normal counterparts, but provide far less healing.
    "weapon": {
      "maxCapacity": 10, // Very high, but capped to prevent stupid high healing.

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "healing": 0.2
      }
    },
    "weaponLiquid": {
      // Liquids digest faster.
      "baseDigestion": 0,
      "digestionRate": 2,
      "percentDigestionRate": 0.02,

      "multipliers": {
        "healing": 0.2
      }
    },
    // Enemies.
    "wispflame": { // Fat fire. Bloat that grants weight, and digests extremely quickly with belches.
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "maxCapacity": 3, // Maxes out all tiers of the stomach, but doesn't scale infinitely.
      "belchable": true,
      "belchParticleCount": 5,
      "belchParticles": [
        {
          "color" : [255, 188, 71],
          "initialVelocity": [1.5, 0],
          "approach" : [20, 10],
          "fullbright" : true,
          "finalVelocity": [1, 0],
          "variance": {"initialVelocity": [1.5, 3], "finalVelocity" : [1, 1.5], "timeToLive": 0.25}
        },
        {
          "color" : [232, 123, 7],
          "initialVelocity": [0.75, 0],
          "approach" : [20, 10],
          "fullbright" : true,
          "finalVelocity": [0.5, 0],
          "variance": {"initialVelocity": [0.75, 2], "finalVelocity" : [0.5, 1], "timeToLive": 0.25}
        }
      ],

      "baseDigestion": 0,
      "digestionRate": 3,
      "percentDigestionRate": 0,

      "multipliers": {
        "food": 0, "healing": 0, "belch": 5
      }
    },
    // Vore.
    "prey": { // Prey's base weight.
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "capacity": 2, "experience": 0.5
      }
    },
    "preyWeight": { // Prey's additional weight.
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 2, "healing": 0.2, "capacity": 2, "experience": 0.05
      }
    },
    "preyInedible": { // i.e. Shadow NPCs
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "amountStats": [],
      "belchable": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25, "experience": 0.5
      }
    },
    "prey_noExperience": { // Respawning mission NPCs. (Just Cultists in the glitch mission)
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "capacity": 2
      }
    },
    "preyInedible_noExperience": {
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25
      }
    },
    "preyMonster": { // Monsters grant less weight.
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0.5, "weight": 0.5, "capacity": 2, "experience": 0.5
      }
    },
    "preyMonsterInedible": { // i.e. Robot monsters.
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25, "experience": 0.5
      }
    },
    "preyMonster_noExperience": { // Pet/Infinitely generating monsters grant no experience.
      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 1, "weight": 0.5, "capacity": 2
      }
    },
    "preyMonsterInedible_noExperience": {
      "digestionStats": [["digestion", 0.1], ["bloatDigestion", 1]],
      "belchable": true,

      "baseDigestion": 0,
      "digestionRate": 1,
      "percentDigestionRate": 0.01,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0, "belch": 0.25
      }
    },
    "prey_proxy": { // Used to trigger effects on eat.
      "ignoreCapacity": true,
      "stuffingDamage": 0.1,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 9999,
      "digestionRate": 9999,
      "percentDigestionRate": 1,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0
      }
    },
    "preyWeight_proxy": { // Used to trigger effects on eat.
      "ignoreCapacity": true,
      "stuffingDamage": 0.05,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 9999,
      "digestionRate": 9999,
      "percentDigestionRate": 1,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0
      }
    },
    "prey_proxy_willing": { // Used to trigger effects on eat. Willing prey deal no damage.
      "ignoreCapacity": true,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 9999,
      "digestionRate": 9999,
      "percentDigestionRate": 1,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0
      }
    },
    "preyWeight_proxy_willing": { // Used to trigger effects on eat. Willing prey deal no damage.
      "ignoreCapacity": true,
      "triggersBelch": true,
      "triggersSquelch": true,
      "triggersStretching": true,
      "triggersFullnessDelay": true,

      "baseDigestion": 9999,
      "digestionRate": 9999,
      "percentDigestionRate": 1,

      "multipliers": {
        "food": 0, "weight": 0, "capacity": 2, "healing": 0
      }
    }
  },
  // Food item stuff below.
  "fatCache": {
    "milk" : 10,
    "chocolate" : 5,
    "sugar" : 5,
    "wheat" : 2.5,
    "egg" : 2.5,

    "alienmeat" : 5,
    "rawpoultry" : 5,
    "rawham" : 5,
    "rawbacon" : 7.5,
    "rawribmeat" : 10,

    "starpoundspeanutbutter": 20,

    "starpoundsmoomilk": 15,
    "starpoundschocolatemoomilk": 20,
    "starpoundshoneymoomilk": 20,
    "starpoundsstrawberrymoomilk": 20,

    "starpoundsmoomilkdeluxe": 25,
    "starpoundsstrawberrymoomilkdeluxe": 30,
    "starpoundshoneymoomilkdeluxe": 20,
    "starpoundschocolatemoomilkdeluxe": 30
  },
  // Specific item category -> StarPounds food type.
  "categoryTypes": {
    "food" : {"food": "starpoundsfood_fooditem", "fat": "starpoundsfood_fatfood"},
    "drink" : {"food": "starpoundsfood_drinkitem", "fat": "starpoundsfood_fatliquid"}
  },
  // Bonus experience for food rarity.
  "experienceBonus": {"uncommon": 0.05, "rare": 0.1, "legendary": 0.2}
}
