{
  "scriptDelta" : 0,
  // Liquids and their food types.
  "liquids": {
    "default": {"food": {"liquid": 10}},
    // Non-food liquids. (Edible, but a normal person probably wouldn't eat these as is)
    "water": {"inedible": true, "food": {"liquidWater": 10}},
    "healingliquid": {"food": {"liquidHealingWater": 10}},
    "tarliquid": {"food": {"liquid": 9.5, "liquidFood": 0.5, "fatLiquid": 5}},
    "slimeliquid": {"food": {"liquid": 5, "liquidFood": 5}},
    "greaseliquid": {"food": {"liquid": 2.5, "liquidFood": 7.5, "fatLiquid": 7.5}},
    // Edible liquids. (Actual food)
    "milk": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "jellyliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5}},
    "starpoundssodaliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5}},
    "starpoundschocolateliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "starpoundscaramelliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "starpoundssyrupliquid": {"edible": true, "food": {"liquidFood": 10}},
    "starpoundscreamliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "starpoundsblueberryliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "bees_liquidhoney": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    // Calorium.
    "starpoundscaloriumliquid": {"food": {"fatLiquid": 10}},
    // Other mods.
    "alienjuice": {"food": {"liquid": 7.5, "liquidFood": 2.5}},
    "beer": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "cornjuice": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5}},
    "filteredwater": {"food": {"liquidWater": 10}},
    "fuhoney": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "fuhoneyred": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "fuhoneyice": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "fuhoneyspirit": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "honey": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "liquidbeanjuice": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5}},
    "liquidchocolateMFM": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "liquidchocolatemilkMFM": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "liquiddarkchocolateMFM": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "liquidmilkMFM": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "liquidwhitechocolateMFM": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "liquiduddermilk": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "mmp_beakliquid": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "mmp_bananaliquid": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "mmp_chocoliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "mmp_condensedmilkliquid": {"edible": true, "food": {"liquidFood": 10, "fatLiquid": 5}},
    "pat_yogurt": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "sb_tentaclejuice": {"food": {"liquid": 9, "liquidFood": 1}},
    "sb_alienjuice": {"food": {"liquid": 7.5, "liquidFood": 2.5}},
    "sb_coffee": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5}},
    // Blacklisted liquids.,
    "mc_urine": {"inedible": true},
    "pat_pee": {"inedible": true},
    "pus": {"inedible": true},
    "sludge": {"inedible": true},
    "wastewater": {"inedible": true}
  }
}
