{
  "scriptDelta" : 0,
  // Liquids and their food types.
  "liquids": {
    "default": {"food": {"liquid": 10}},
    // Inedible liquids. ('Inedible' meaning a normal person probably wouldn't drink these)
    "water": {"food": {"liquidWater": 10}},
    "healingliquid": {"food": {"liquidWater": 10}},
    "tarliquid": {"food": {"liquid": 9, "liquidFood": 1, "fatLiquid": 5}},
    "slimeliquid": {"food": {"liquid": 5, "liquidFood": 5}},
    "greaseliquid": {"food": {"liquid": 2.5, "liquidFood": 7.5, "fatLiquid": 7.5}},
    // Edible liquids.
    "milk": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5, "fatLiquid": 2.5}},
    "jellyliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5}},
    "starpoundssodaliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5}},
    "starpoundschocolateliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "starpoundscreamliquid": {"edible": true, "food": {"liquid": 5, "liquidFood": 5, "fatLiquid": 5}},
    "bees_liquidhoney": {"edible": true, "food": {"liquidFood": 10}},
    // Calorium.
    "starpoundscaloriumliquid": {"food": {"fatLiquid": 10}},
    // Other mods.
    "sb_tentaclejuice": {"food": {"liquid": 9, "liquidFood": 1}},
    "sb_alienjuice": {"food": {"liquid": 7.5, "liquidFood": 2.5}},
    "sb_coffee": {"edible": true, "food": {"liquid": 7.5, "liquidFood": 2.5}}
  }
}
