{
  "scriptDelta" : 5,
  // Adjustment for 'width' for applying additional range.
  "widthAdjust" : -2, // 1 block in. (2 total, each side)
  "widthAdjustMult": 1, // % of actual width that gets added as bonus.
  // How much size stat scaling affects the range. (Still 0 at base)
  "sizeScalingFactor": 0.8,
  // How long to crouch before the magnet activates. (Stops magnet entity spam if sloshing)
  "activationTime": 0.25
}
