{
  "scriptDelta" : 0,
  // Materials and their food types.
  // Edible = Consumed by default. (Implies consumable)
  // Consumable = Benefits from tile damage skill, but is not consumed by default.
  "materials": {
    "default": {"food": {"tile": 1}},
    "default_platform": {"food": {"tile": 0.25}},
    // Non-food materials. (Edible, but a normal person probably wouldn't eat these)
    "floweryblock": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}}, // Leafy/airy blocks take up less space.
    "grassy": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}},
    "petalblock": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}},
    "plantmatter": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}},
    "reeds": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}},
    "thatch": {"consumable": true, "food": {"tile": 0.4, "tileFood": 0.1}},
    "vine": {"consumable": true, "food": {"tile": 0.9, "tileFood": 0.1}},
    "bamboo": {"consumable": true, "food": {"tile": 0.9, "tileFood": 0.1, "fatTile": 0.1}},
    "bonematerial": {"consumable": true, "food": {"tile": 0.75, "tileFood": 0.25, "fatTile": 0.25}},
    "cactiblock": {"consumable": true, "food": {"tile": 0.75, "tileFood": 0.25, "fatTile": 0.25}},
    "hive": {"consumable": true, "food": {"tile": 0.75, "tileFood": 0.25, "fatTile": 0.25}},
    "shroomblock": {"consumable": true, "food": {"tile": 0.75, "tileFood": 0.25, "fatTile": 0.25}},
    // Food-adjacent materials. (Same as above, but food adjacent/would be considered edible if you cooked them or something)
    "brainsblock": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "eyepiles": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "dermisblock": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "fleshblock": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "hellstone": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "stomachblock": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "tentacleblock": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    "tentaclepipe": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.25}},
    // Same as above, but more fattening.
    "jellyblock": {"edible": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.75}},
    "slime": {"consumable": true, "food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.75}},
    // Woter,,,
    "cloud": {"consumable": true, "food": {"tile": 0.05, "liquidWater": 0.5}}, // Mostly air, 1 capacity.
    "frozenwater": {"consumable": true, "food": {"tile": 0.75, "liquidWater": 2.5}}, // 10 capacity total.
    "ice": {"consumable": true, "food": {"tile": 0.75, "liquidWater": 2.5}},
    "iceblock": {"consumable": true, "food": {"tile": 0.75, "liquidWater": 2.5}},
    "slush": {"consumable": true, "food": {"tile": 0.75, "liquidWater": 2.5}},
    "snow": {"consumable": true, "food": {"tile": 0.375, "liquidWater": 1.25}}, // 5 capacity. (Snow is fluffy :D)
    // Stones/rocks/bricks/ceramic.
    "alienrock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "ancientblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "ancientbrick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "biorock": {"food": {"tile": 0.9, "tileFood": 0.1}, "effects": ["gastrolith"]},
    "biorock2": {"food": {"tile": 0.9, "tileFood": 0.1}, "effects": ["gastrolith"]},
    "blaststone": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "brick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "castlewalls1": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "castlewalls2": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "cobblestone": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "cobblestonebrick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "concrete": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "crystalblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "darksmoothstone": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "deadcore": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "direstone": {"food": {"tile": 0.95, "tileFood": 0.05}, "effects": ["gastrolith"]},
    "fadedblocks": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "geodeblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "gravel": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "grassyrock": {"food": {"tile": 0.9, "tileFood": 0.1}, "effects": ["gastrolith"]},
    "homewalls1": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "ledgebrick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "magmarock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "meteoriterock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "moonrock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "moonstone": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "obsidian": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "ornateroofing": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "ornatetiles": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "pillarblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "purplecrystal": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock01": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock02": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock03": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock04": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock12": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock14": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock15": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock17": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock19": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rock20": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rockbrick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "rooftiles": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "sandstone01": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "sandstoneblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "shadowblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "shadowspikeblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "shadowwallblock": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "stonerubble": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "stonetiles": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "temple1": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "temple2": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "temple3": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "temple4": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "tombbrick": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "tombbrick2": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "tombbrick3": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "tombbrick4": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    "tombbrick5": {"food": {"tile": 1}, "effects": ["gastrolith"]},
    // Other.
    "frozendirt": {"food": {"tile": 0.95, "liquidWater": 0.5}}, // 10 capacity total.
    "limestone": {"food": {"tile": 1}, "effects": [{"effect" : "antacid", "duration" : 10, "maxLevel" : 1}]}, // Slows digestion speed.
    "supermatter": {"food": {"tile": 1}, "statusEffects": [{"effect" : "starpoundserchiusbloat", "duration" : 20}]}, // Erchius crystal.
    "tar": {"food": {"tile": 0.9, "tileFood": 0.1, "fatTile": 0.25}},
    "waste": {"food": {"tile": 1, "fatTile": 1}, "statusEffects": [{"effect" : "weakpoison", "duration" : 5}]}, // Radioative weight gain for the funny.
    // Platforms.
    "ancientplatform": {"food": {"tile": 0.25}, "effects": ["gastrolith"]},
    "bambooplatform": {"consumable": true, "food": {"tile": 0.2, "tileFood": 0.05, "fatTile": 0.05}},
    "plantplatform": {"consumable": true, "food": {"tile": 0.2, "tileFood": 0.05}},
    "ruinsplatform": {"food": {"tile": 0.225, "tileFood": 0.025}}, // Little bit of foliage on it.
    "stoneplatform": {"food": {"tile": 0.25}, "effects": ["gastrolith"]},
    "tribalplatform": {"food": {"tile": 0.25}, "effects": ["gastrolith"]},
    // Edible materials. (Actual food)
    "candyblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    // StarPounds materials.
    "starpoundscakeblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundschocolateblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundschocolatecakeblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundsgingerbreadblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundsgingerbreadroofing": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundshive": {"food": {"tile": 0.5, "tileFood": 0.5, "fatTile": 0.5}},
    "starpoundshoneyblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundspizzablock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    "starpoundswhitechocolateblock": {"edible": true, "food": {"tileFood": 1, "fatTile": 2.5}},
    // Blacklisted blocks.
    "sewage": {"inedible": true}
  },
  // Tile mods.
  "mods": {
    "default": {},
    // Tile mods don't have edible/inedible flags because I'd like to keep my sanity.
    "aliengrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "aridgrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "ceilingslimegrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.25}},
    "ceilingsnow": {"food": {"liquidWater": 1}},
    "charredgrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "colourfulgrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "fleshgrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.1}},
    "flowerygrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "grass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "heckgrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.1}},
    "hiveceilinggrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.1}},
    "hivegrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.1}},
    "junglegrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "roots": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "savannahgrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "slimegrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.25}},
    "snow": {"food": {"tile": 0.1, "liquidWater": 1}},
    "snowygrass": {"food": {"tile": 0.1, "tileFood": 0.1, "liquidWater": 0.5}},
    "tar": {"food": {"tile": 0.2, "tileFat": 0.1}},
    "tarceiling": {"food": {"tile": 0.2, "tileFat": 0.1}},
    "tentaclegrass": {"food": {"tile": 0.1, "tileFood": 0.1, "tileFat": 0.1}},
    "thickgrass": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "toxicgrass": {"food": {"tile": 0.2, "tileFat": 0.1}, "statusEffects": [{"effect" : "weakpoison", "duration" : 2}]},
    "undergrowth": {"food": {"tile": 0.1, "tileFood": 0.1}},
    "veingrowth": {"food": {"tile": 0.1, "tileFood": 0.1}},
    // Other.
    "erchius": {"food": {"tile": 0.2}, "statusEffects": [{"effect": "starpoundserchiusbloat", "duration": 10}]},
    // StarPounds mods.
    "starpoundsicing": {"food": {"tileFood": 0.2, "fatTile": 1}},
    "starpoundschocolateicing": {"food": {"tileFood": 0.2, "fatTile": 1}}
    }
}
