{
  "scriptDelta" : 0,
  // Vore stuff.
  "monsterFood": 10, // How much food per 'block' of entity space monsters cause when eaten. Also affected by the preyMonster food type.
  "monsterFoodCap": 250, // Maximum food a monster can give.
  "monsterSizeRadiusExp": 1.4 // Exponent for monster radius calculation. 2 for a perfect cylinder based on height/width.
}
