{
  // Actual options are located in /scripts/starpounds/options.config
  "scriptDelta" : 0,
  // Toggles on options globally (clientside only). Server owners can configure this to set default options for NPCs/monsters.
  // Options with the "clientOnly" value will not apply to players and some select NPCs.
  "globalOptions" : [ ]
  // For example, this would disable vore all together. To prevent vore between players, they would need the same patch.
  // "globalOptions" : [ "disablePrey", "disablePred" ]
  // The array also supports entries for values as {"name": "sliderOption/radioOption", "value": 10}
}
