{
  "scriptDelta" : 10,
  "cooldown": 2, // Base vore tool/hotkey cooldown.
  "preyCheckTimer": 1, // How often to run a prey check.
  "energy": 30, // How much energy it takes to eat an entity. (Scales with size)
  "energyBase": 5, // Base amount of energy it takes to eat an entity.
  "inescapableHealth": 0.25, // HP threshold for being unable to escape. (Non-players)
  "biteDamage": 1, // Base damage for biting. (Vore tool fallback)
  "biteDamageSkills": [["voreCritter", 0.5], ["voreMonster", 0.75], ["voreHumanoid", 1], ["voreFriendly", 1.25]], // Skills that increase the bite damage, and by how much.
  "immediateRegurgitateChance": 0.2, // Chance for a prey item to immediately be spit out.
  // Average struggle cooldown, and minimum amount of time to pass before another can happen.
  // Struggles still 'stack', this just stops the sound playing 1000 times a second.
  "struggleCooldownTime": 0.2,
  "minimumStruggleCooldownTime": 0.05,
  "struggleStrainBase": 0.025, // How much base strain any struggles cause.
  "struggleStrain": 0.1, // How much strain (affected by struggle resistance) struggles cause.
  "critterEnergyMultiplier": 0.25, // Energy multiplier for eating critters. (Does not affect base eating cost)
  // Behaviours to check for in monsters when attempting to eat.
  // If you add something here, you need to patch the actual behaviour file too.
  "critterBehaviors": ["blooping", "flyingcritter", "swimming", "walkingcritter", "farmablebaby"],
  "monsterBehaviors": ["monster", "farmable", "thea-monster-passive" ],
  // Ignore entities in this list.
  "ignoreEntities": ["starpoundsmagnet"]
}
