{
  "scriptDelta" : 1,
  // Capped size indexes for vehicles so your fat ass doesnt hang out.
  "vehicleCap": {
    "modularmech": [{"chest": 6, "legs": 6}],
    "dropship": [{"chest": 5, "legs": 6}],
    "minitank": [{"chest": 4, "legs": 3}],
    "miniufo": [{"chest": 1, "legs": 1}],
    "hoverbikekhaki": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "hoverbikered": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "hoverbikegreen": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "jeep": [{"chest": 6, "legs": 5}, {"chest": 1, "legs": 1}],
    "humanmech": [{"chest": 5, "legs": 6}],
    "apexmech": [{"chest": 5, "legs": 6}],
    "glitchmech": [{"chest": 5, "legs": 6}]
  },
  // Extra cosmetic slots that get scaled by StarPounds.
  "oSBSlots" : {"cosmetic3": "legs", "cosmetic4": "legs", "cosmetic7": "chest", "cosmetic8": "chest"},
  // Options that modify the targeted size.
  "sizeOptions": {
    "chest": { "topHeavy": 1, "extraTopHeavy": 2 },
    "legs": { "bottomHeavy": 1, "extraBottomHeavy": 2 }
  }
}
