{
  "scriptDelta" : 1,
  // scalingSize: Index for the size for when scaling effects are maxed. (Such as ice/poison resistance, throg sphere protection, etc)
  // activationSize: Index for the size for when some effects activate. (Such as ice/poison effect immunity)
  "scalingSize": 6, // Default, Soft, Thick, Chubster, Plump, [Fatty], Blob, Immobile
  "activationSize": 4, // Default, Soft, Thick, [Chubster], Plump, Fatty, Blob, Immobile
  // Minimum multiplier for speed stat when not on the ground. (Affects things like air/liquid movement, and some techs)
  "minimumAltSpeedMultiplier": 0.05,
  // Minimum multiplier for jumps. (Tiny amount to activate jump techs, and for immobile players)
  "minimumJumpMultiplier": 0.2,
  // Minimum multiplier for swimming. (Immobile players have a tiny bit of mobility in water)
  "minimumSwimMultiplier": 0.1,
  // Capped size indexes for vehicles so your fat ass doesnt hang out.
  "vehicleCap": {
    "modularmech": [{"chest": 6, "legs": 6}],
    "dropship": [{"chest": 5, "legs": 6}],
    "minitank": [{"chest": 4, "legs": 3}],
    "miniufo": [{"chest": 1, "legs": 1}],
    "hoverbikekhaki": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "hoverbikered": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "hoverbikegreen": [{"chest": 6, "legs": 6}, {"chest": 4, "legs": 3}],
    "jeep": [{"chest": 6, "legs": 5}, {"chest": 1, "legs": 1}],
    "humanmech": [{"chest": 5, "legs": 6}],
    "apexmech": [{"chest": 5, "legs": 6}],
    "glitchmech": [{"chest": 5, "legs": 6}]
  },
  // Extra cosmetic slots that get scaled by StarPounds.
  "oSBSlots" : {"cosmetic3": "legs", "cosmetic4": "legs", "cosmetic7": "chest", "cosmetic8": "chest"},
  // Options that modify the targeted size.
  "sizeOptions": {
    "chest": { "topHeavy": 1, "extraTopHeavy": 2 },
    "legs": { "bottomHeavy": 1, "extraBottomHeavy": 2 }
  }
}
