{
  "scriptDelta" : 1,
  // Capped size indexes for vehicles so your fat ass doesnt hang out.
  "vehicleCap": {
    "modularmech": 4,
    "dropship": 4,
    "minitank": 4,
    "hoverbikekhaki": 4,
    "hoverbikered": 4,
    "hoverbikegreen": 4,
    "jeep": 4,
    "humanmech": 4,
    "apexmech": 4,
    "glitchmech": 4
  },
  // Options that modify the targeted size.
  "sizeOptions": {
    "chest": { "topHeavy": 1, "extraTopHeavy": 2 },
    "legs": { "bottomHeavy": 1, "extraBottomHeavy": 2 }
  }
}
