{
  "scriptDelta" : 30,
  // Status effect list.
  "statuses": {
    "intents": {
      "multipliers": { "digestion": 1.2, "bloatDigestion": 1.2, "voreDamage": 1.2 },
      "bonuses": { "rumbleRate": 5 }
    },
    "bed1": {
      "multipliers": { "digestion": 1.2, "bloatDigestion": 1.2, "voreDamage": 1.2 },
      "bonuses": { "rumbleRate": 5 }
    },
    "bed2": {
      "multipliers": { "digestion": 1.4, "bloatDigestion": 1.4, "voreDamage": 1.4 },
      "bonuses": { "rumbleRate": 5 }
    },
    "bed3": {
      "multipliers": { "digestion": 1.6, "bloatDigestion": 1.6, "voreDamage": 1.6 },
      "bonuses": { "rumbleRate": 5 }
    },
    "bed4": {
      "multipliers": { "digestion": 1.8, "bloatDigestion": 1.8, "voreDamage": 1.8 },
      "bonuses": { "rumbleRate": 5 }
    },
    "bed5": {
      "multipliers": { "digestion": 2.0, "bloatDigestion": 2.0, "voreDamage": 2.0 },
      "bonuses": { "rumbleRate": 5 }
    },
    "digesting": {
      "bonuses": { "digestion": 4, "bloatDigestion": 4, "voreDamage": 2, "gurgleRate": 4, "baseRumbleRate": 10, "belchChance": 0.25 }
    },
    "hungry": {
      "multipliers": { "digestion": 1.5, "bloatDigestion": 1.5, "voreDamage": 1.5, "voreCooldown": 0.5, "capacity": 1.5 },
      "bonuses": { "baseRumbleRate": 5 }
    },
    "starving": {
      "multipliers": { "digestion": 3, "bloatDigestion": 3, "voreDamage": 3, "voreCooldown": 0.25, "capacity": 3 },
      "bonuses": { "baseRumbleRate": 10 }
    },
    "lactaidoverdrive": {
      "bonuses": { "breastCapacity": 3 }
    },
    "foodpoison": {
      "multipliers": { "absorption": 0.5, "healing": 0 }
    },
    "erchiusbloat": {
      "multipliers": { "bloatDigestion": 0 }
    },
    "bottlederchiusbloat": {
      "multipliers": { "bloatDigestion": 0 }
    },
    "erchiusbloatrain": {
      "multipliers": { "bloatDigestion": 0 }
    },
    "treadmill": {
      "multipliers": { "metabolism": 0 },
      "bonuses": { "metabolism": 100 }
    },
    "starpoundsmissionmobility": {
      "multipliers": { "jumpPenalty": 0.5 }
    },
    "starpoundstechmissionmobility": {
      "multipliers": { "jumpPenalty": 0 },
      "bonuses": { "movement": 10 }
    },
    "starpoundsdrinking": {
      "multipliers": { "belchChance": 0 }
    }
  }
}
