{
  "scriptDelta" : 30,
  // Status effect list.
  "statuses": {
    "intents": [
      ["digestion", "mult", 1.2],
      ["bloatDigestion", "mult", 1.2],
      ["voreDamage", "mult", 1.2],
      ["rumbleRate", "add", 5]
    ],
    "bed1": [
      ["digestion", "mult", 1.2],
      ["bloatDigestion", "mult", 1.2],
      ["voreDamage", "mult", 1.2],
      ["rumbleRate", "add", 5]
    ],
    "bed2": [
      ["digestion", "mult", 1.4],
      ["bloatDigestion", "mult", 1.4],
      ["voreDamage", "mult", 1.4],
      ["rumbleRate", "add", 5]
    ],
    "bed3": [
      ["digestion", "mult", 1.6],
      ["bloatDigestion", "mult", 1.6],
      ["voreDamage", "mult", 1.6],
      ["rumbleRate", "add", 5]
    ],
    "bed4": [
      ["digestion", "mult", 1.8],
      ["bloatDigestion", "mult", 1.8],
      ["voreDamage", "mult", 1.8],
      ["rumbleRate", "add", 5]
    ],
    "bed5": [
      ["digestion", "mult", 2],
      ["bloatDigestion", "mult", 2],
      ["voreDamage", "mult", 2],
      ["rumbleRate", "add", 5]
    ],
    "digesting": [
      ["digestion", "add", 4],
      ["bloatDigestion", "add", 4],
      ["voreDamage", "add", 2],
      ["gurgleRate", "add", 4],
      ["baseRumbleRate", "add", 10],
      ["belchChance", "add", 0.25]
    ],
    "hungry": [
      ["voreDamage", "mult", 1.5],
      ["voreCooldown", "mult", 0.5],
      ["capacity", "mult", 1.5],
      ["baseRumbleRate", "add", 5]
    ],
    "starving": [
      ["voreDamage", "mult", 3],
      ["voreCooldown", "mult", 0.25],
      ["capacity", "mult", 3],
      ["baseRumbleRate", "add", 10]
    ],
    "lactaidoverdrive": [
      ["breastCapacity", "add", 3]
    ],
    "foodpoison": [
      ["absorption", "mult", 0.5],
      ["healing", "mult", 0]
    ],
    "erchiusbloat": [
      ["bloatDigestion", "mult", 0]
    ],
    "bottlederchiusbloat": [
      ["bloatDigestion", "mult", 0]
    ],
    "erchiusbloatrain": [
      ["bloatDigestion", "mult", 0]
    ],
    "starpoundstreadmill": [
      ["metabolism", "override", 100]
    ],
    "starpoundsmissionmobility": [
      ["jumpPenalty", "mult", 0.5]
    ],
    "starpoundstechmissionmobility": [
      ["weightMultiplier", "mult", 0],
      ["jumpPenalty", "mult", 0],
      ["metabolism", "mult", 0],
      ["movement", "add", 10]
    ],
    "starpoundsdrinking": [
      ["belchChance", "mult", 0]
    ],
    "starpoundsdrunk": [
      ["health", "mult", 1.25],
      ["belchChance", "add", 0.5]
    ],
    "starpoundssugarrush": [
      ["movement", "add", 0.25],
      ["belchChance", "add", 0.5]
    ],
    "starpoundsvoracious": [
      ["voreDamage", "mult", 2],
      ["voreCooldown", "mult", 0.5],
      ["capacity", "mult", 2],
      ["baseRumbleRate", "add", 2.5]
    ],
    "starpoundsexperienceup": [
      ["experienceMultiplier", "add", 0.25]
    ]
  }
}
