{
  "scriptDelta" : 10,
  "stomachThresholds": [
    // Make sure to change the range in the the status effects if you end up patching these.
    {"effect": "starpoundsstomach", "fullness": 0}, // Fullness is the lower bound, i.e. this is from 0 -> 1.
    {"effect": "starpoundsstomach2", "fullness": 1},
    {"effect": "starpoundsstomach3", "fullness": 2}
  ]
}
