{
  "scriptDelta": 300, // Applies effects from traits every 5 seconds.
  "selectableTraits": [
    "largeDigestionBonus", "digestionBonus", "digestionPenalty", "largeDigestionPenalty",
    "largeCapacityBonus", "capacityBonus", "capacityPenalty", "largeCapacityPenalty",
    "healthBonus", "healthPenalty",
    "absorptionBonus", "absorptionPenalty",
    "movementBonus", "movementPenalty",
    "weightGainBonus", "weightGainPenalty",
    "foodBonus", "foodPenalty", "largeFoodPenalty",
    "gurgleBonus", "gurglePenalty",
    "voreSafe", "vore", "voreCritter", "voreFood",
    "breastBonus"
  ],
  "traits": {
    "default": {
      "pretty": "Default",
      "type": "neutral",
      "tags": [],
      "points": 0,
      "stats": [],
      "skills": [],
      "effects": [],
      "items": []
    },
    "none": {
      "pretty": "None",
      "stats" : []
    },
    // =========== Unique ===========
    // Digestion
    "largeDigestionBonus": {
      "pretty": "Rapid Digestion",
      "points": -7,
      "type": "positive",
      "tags": ["digestion"],
      "stats": [
        ["digestion", "mult", 1.5],
        ["bloatDigestion", "mult", 1.5],
        ["voreDamage", "mult", 1.5]
      ]
    },
    "digestionBonus": {
      "pretty": "Fast Digestion",
      "points": -5,
      "type": "positive",
      "tags": ["digestion"],
      "stats": [
        ["digestion", "mult", 1.25],
        ["bloatDigestion", "mult", 1.25],
        ["voreDamage", "mult", 1.25]
      ]
    },
    "digestionPenalty": {
      "pretty": "Slow Digestion",
      "points": 3,
      "type": "negative",
      "tags": ["digestion"],
      "stats": [
        ["digestion", "mult", 0.75],
        ["bloatDigestion", "mult", 0.75],
        ["voreDamage", "mult", 0.75]
      ]
    },
    "largeDigestionPenalty": {
      "pretty": "Sluggish Digestion",
      "points": 5,
      "type": "negative",
      "tags": ["digestion"],
      "stats": [
        ["digestion", "mult", 0.5],
        ["bloatDigestion", "mult", 0.5],
        ["voreDamage", "mult", 0.5]
      ]
    },
    // Capacity
    "largeCapacityBonus": {
      "pretty": "Giant Stomach",
      "points": -7,
      "type": "positive",
      "tags": ["capacity"],
      "stats": [
        ["capacity", "add", 2]
      ]
    },
    "capacityBonus": {
      "pretty": "Large Stomach",
      "points": -5,
      "type": "positive",
      "tags": ["capacity"],
      "stats": [
        ["capacity", "add", 1.5]
      ]
    },
    "capacityPenalty": {
      "pretty": "Small Stomach",
      "points": 3,
      "type": "negative",
      "tags": ["capacity"],
      "stats": [
        ["capacity", "sub", 0.5]
      ]
    },
    "largeCapacityPenalty": {
      "pretty": "Tiny Stomach",
      "points": 5,
      "type": "negative",
      "tags": ["capacity"],
      "stats": [
        ["capacity", "sub", 0.75]
      ]
    },
    // Health
    "healthBonus": {
      "pretty": "Stout",
      "points": -5,
      "type": "positive",
      "tags": ["health"],
      "stats": [
        ["health", "add", 0.5],
        ["knockbackResistance", "add", 0.25]
      ]
    },
    "healthPenalty": {
      "pretty": "Frail",
      "points": 3,
      "type": "negative",
      "tags": ["health"],
      "stats": [
        ["health", "sub", 0.5],
        ["knockbackResistance", "sub", 0.25]
      ]
    },
    // Absorption
    "absorptionBonus": {
      "pretty": "Hyperabsorption",
      "points": -5,
      "type": "positive",
      "tags": ["absorption"],
      "stats": [
        ["absorption", "mult", 1.25]
      ]
    },
    "absorptionPenalty": {
      "pretty": "Malabsorption",
      "points": 3,
      "type": "negative",
      "tags": ["absorption"],
      "stats": [
        ["absorption", "mult", 0.75]
      ]
    },
    // movement
    "movementBonus": {
      "pretty": "Nimble",
      "points": -5,
      "type": "positive",
      "tags": ["movement"],
      "stats": [
        ["movement", "add", 0.1],
        ["jumpPenalty", "sub", 0.25]
      ]
    },
    "movementPenalty": {
      "pretty": "Lumbering",
      "points": 3,
      "type": "negative",
      "tags": ["movement"],
      "stats": [
        ["movement", "sub", 0.1]
      ]
    },
    // Weight Gain
    "weightGainBonus": {
      "pretty": "Amassing",
      "points": -5,
      "type": "positive",
      "tags": ["weightGain"],
      "stats": [
        ["metabolism", "mult", 0.5]
      ]
    },
    "weightGainPenalty": {
      "pretty": "Wasting",
      "points": 3,
      "type": "negative",
      "tags": ["weightGain"],
      "stats": [
        ["metabolism", "mult", 1.5]
      ]
    },
    // Hunger
    "hungerPenalty": {
      "pretty": "Ravenous",
      "points": 3,
      "type": "negative",
      "tags": ["hunger"],
      "stats": [
        ["hunger", "mult", 1.5]
      ]
    },
    // Food
    "foodBonus": {
      "pretty": "Easily Satiated",
      "points": -3,
      "type": "positive",
      "tags": ["food"],
      "stats": [
        ["hunger", "mult", 0.75],
        ["foodValue", "mult", 1.25]
      ]
    },
    "foodPenalty": {
      "pretty": "Peckish",
      "points": 3,
      "type": "negative",
      "tags": ["food"],
      "stats": [
        ["hunger", "mult", 1.25],
        ["foodValue", "mult", 0.75]
      ]
    },
    "largeFoodPenalty": {
      "pretty": "Insatiable",
      "points": 5,
      "type": "negative",
      "tags": ["food"],
      "stats": [
        ["hunger", "mult", 1.5],
        ["foodValue", "mult", 0.5]
      ]
    },
    // Gurgles
    "gurgleBonus": {
      "pretty": "Active Stomach",
      "points": -3,
      "type": "positive",
      "tags": ["gurgle"],
      "stats": [
        ["gurgleRate", "mult", 1.5],
        ["gurgleAmount", "mult", 1.25],
        ["belchChance", "add", 0.25]
      ]
    },
    "gurglePenalty": {
      "pretty": "Lethagic Stomach",
      "points": 1,
      "type": "negative",
      "tags": ["gurgle"],
      "stats": [
        ["gurgleRate", "mult", 0.5],
        ["gurgleAmount", "mult", 0.75]
      ]
    },
    // Milk
    "breastBonus": {
      "pretty": "Milky",
      "points": -5,
      "type": "positive",
      "tags": ["milk"],
      "stats": [
        ["breastCapacity", "add", 1]
      ],
      "effects": ["passiveMilk"]
    },
    // Vore
    "vore": {
      "pretty": "Voracious",
      "points": -5,
      "type": "positive",
      "tags": ["vore"],
      "stats": [
        ["voreCooldown", "mult", 0.5],
        ["struggleResistance", "add", 0.25],
        ["voreArmorPiercing", "add", 10]
      ],
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1]
      ],
      "items": ["voretool"],
      "itemCheck": true
    },
    "voreCritter": {
      "pretty": "Carnivorous",
      "points": -3,
      "type": "positive",
      "tags": ["vore"],
      "stats": [
        ["voreCooldown", "mult", 0.75],
        ["struggleResistance", "add", 0.1]
      ],
      "skills": [
        ["voreCritter", 1]
      ],
      "items": ["voretool"],
      "itemCheck": true
    },
    "voreSafe": {
      "pretty": "Incubator",
      "points": -5,
      "type": "positive",
      "tags": ["vore"],
      "stats": [
        ["struggleResistance", "add", 0.25],
        ["voreHealing", "mult", 1.5],
        ["voreDamage", "mult", 0.2]
      ],
      "skills": [
        ["voreHumanoid", 1],
        ["voreFriendly", 1],
        ["voreSafe", 1],
        ["voreHealing", 1]
      ],
      "items": ["voretool"],
      "itemCheck": true
    },
    "voreFood": {
      "pretty": "Acquired Taste",
      "points": 0,
      "type": "neutral",
      "tags": [],
      "stats": [
        ["voreExperienceMultiplier", "add", 1],
        ["foodExperienceMultiplier", "sub", 0.75]
      ]
    },
    // NPC specific traits.
    "npc_gluttonist": {
      "pretty": "Gluttonist",
      "points": 0,
      "type": "positive",
      "tags": [],
      "stats": [
        ["absorption", "mult", 1.25],
        ["digestion", "mult", 1.25],
        ["health", "mult", 1.25],
        ["capacity", "mult", 1.5],
        ["movement", "add", 0.05],
        ["healing", "mult", 1.25]
      ]
    },
    "npc_gluttonistVeteran": {
      "pretty": "Gluttonist",
      "points": 0,
      "type": "positive",
      "tags": [],
      "stats": [
        ["absorption", "mult", 1.5],
        ["digestion", "mult", 1.5],
        ["health", "mult", 1.5],
        ["capacity", "mult", 2.5],
        ["movement", "add", 0.1],
        ["healing", "mult", 1.5],
        ["knockbackResistance", "add", 0.25],
        ["strainedPenalty", "sub", 0.25]
      ]
    },
    "npc_gluttonistChampion": {
      "pretty": "Gluttonist",
      "points": 0,
      "type": "positive",
      "tags": [],
      "stats": [
        ["absorption", "mult", 2],
        ["digestion", "mult", 2],
        ["health", "mult", 2],
        ["capacity", "mult", 5],
        ["movement", "add", 0.25],
        ["healing", "mult", 2],
        ["knockbackResistance", "add", 0.5],
        ["strainedPenalty", "sub", 0.5]
      ],
      "skills": [
        ["wellfedProtection", 1],
        ["preventImmobile", 1]
      ]
    }
  },
  // Formatted similar to regular traits. Items are only applied on initial load.
  "speciesTraits": {
    // Digestion/Absorption
    "assimilator": {
      "pretty": "Assimilator",
      "type": "positive",
      "stats": [
        ["digestion", "mult", 1.25],
        ["voreDamage", "mult", 1.25]
      ]
    },
    "enzymaticDiversity": {
      "pretty": "Enzymatic Diversity",
      "type": "positive",
      "stats": [
        ["digestion", "mult", 1.1],
        ["foodValue", "mult", 1.25]
      ]
    },
    "hastyDigestion": {
      "pretty": "Hasty Digestion",
      "type": "neutral",
      "stats": [
        ["digestion", "mult", 1.25],
        ["foodValue", "mult", 0.75]
      ]
    },
    "efficientDigestion": {
      "pretty": "Efficient Digestion",
      "type": "neutral",
      "stats": [
        ["foodValue", "mult", 1.25],
        ["digestion", "mult", 0.8]
      ]
    },
    "volatileDigestion": {
      "pretty": "Volatile Digestion",
      "type": "neutral",
      "stats": [
        ["digestion", "mult", 1.1],
        ["digestionEnergy", "add", 0.5],
        ["foodValue", "mult", 0.75]
      ]
    },
    // Absorption
    "acceleratedGrowth": {
      "pretty": "Accelerated Growth",
      "type": "positive",
      "stats": [
        ["absorption", "mult", 1.25]
      ]
    },
    // Capacity
    "gorgeFeeder": {
      "pretty": "Gorge-feeder",
      "type": "positive",
      "stats": [
        ["capacity", "mult", 1.5]
      ],
      "skills": [
        ["wellfedProtection", 1]
      ]
    },
    "bingeFeeder": {
      "pretty": "Binge-feeder",
      "type": "positive",
      "stats": [
        ["capacity", "mult", 1.25]
      ]
    },
    "narrowStomach": {
      "pretty": "Narrow Stomach",
      "type": "negative",
      "stats": [
        ["capacity", "mult", 0.8]
      ]
    },
    // Movement
    "agile": {
      "pretty": "Agile",
      "type": "positive",
      "stats": [
        ["movement", "add", 0.1],
        ["jumpPenalty", "sub", 0.25]
      ]
    },
    "swift": {
      "pretty": "Swift",
      "type": "positive",
      "stats": [
        ["movement", "add", 0.1]
      ]
    },
    "serpentine": {
      "pretty": "Serpentine",
      "type": "positive",
      "stats": [
        ["movement", "add", 0.2],
        ["jumpPenalty", "add", 0.25]
      ],
      "skills": [
        ["preventImmobile", 1]
      ]
    },
    "hollowBones": {
      "pretty": "Hollow Bones",
      "type": "neutral",
      "stats": [
        ["movement", "add", 0.1],
        ["health", "mult", 0.8]
      ]
    },
    "saltatorial": {
      "pretty": "Saltatorial",
      "type": "positive",
      "stats": [
        ["jumpPenalty", "sub", 0.25]
      ]
    },
    "ethereal": {
      "pretty": "Ethereal",
      "type": "positive",
      "stats": [
        ["movement", "add", 0.2],
        ["health", "mult", 0.8]
      ],
      "skills": [
        ["preventImmobile", 1]
      ]
    },
    "feathered": {
      "pretty": "Feathered",
      "type": "positive",
      "stats": [
        ["fallDamageResistance", "add", 0.25]
      ]
    },
    "volant": {
      "pretty": "Volant",
      "type": "positive",
      "stats": [
        ["jumpPenalty", "sub", 0.25]
      ]
    },
    "winged": {
      "pretty": "Winged",
      "type": "positive",
      "stats": [
        ["jumpPenalty", "sub", 0.25],
        ["fallDamageResistance", "add", 0.25]
      ]
    },
    "dense": {
      "pretty": "Dense",
      "type": "neutral",
      "stats": [
        ["knockbackResistance", "add", 0.25],
        ["movement", "sub", 0.1]
      ]
    },
    "aquatic": {
      "pretty": "Aquatic",
      "type": "neutral",
      "stats": [
        ["swimPenalty", "sub", 0.5],
        ["movement", "sub", 0.1]
      ]
    },
    "amphibian": {
      "pretty": "Amphibian",
      "type": "positive",
      "stats": [
        ["swimPenalty", "sub", 0.25],
        ["movement", "sub", 0.1]
      ]
    },
    "tendrilled": {
      "pretty": "Tendrilled",
      "type": "neutral",
      "stats": [
        ["swimPenalty", "sub", 0.25],
        ["movement", "sub", 0.1]
      ]
    },
    "soluble": {
      "pretty": "Soluble",
      "type": "negative",
      "stats": [
        ["swimPenalty", "add", 0.5]
      ]
    },
    // Health
    "heavyset": {
      "pretty": "Heavyset",
      "type": "positive",
      "stats": [
        ["health", "mult", 1.25],
        ["knockbackResistance", "add", 0.25],
        ["movement", "sub", 0.1]
      ]
    },
    "gooey": {
      "pretty": "Gooey",
      "type": "neutral",
      "stats": [
        ["health", "mult", 1.25],
        ["knockbackResistance", "add", 0.25],
        ["movement", "sub", 0.2]
      ]
    },
    "quadruped": {
      "pretty": "Quadruped",
      "type": "positive",
      "stats": [
        ["health", "mult", 1.25],
        ["knockbackResistance", "add", 0.25]
      ]
    },
    "metallic": {
      "pretty": "Metallic",
      "type": "positive",
      "stats": [
        ["health", "mult", 1.25],
        ["physicalResistance", "add", 0.1]
      ]
    },
    "thinSkin": {
      "pretty": "Thin Skin",
      "type": "negative",
      "stats": [
        ["health", "mult", 0.8],
        ["knockbackResistance", "sub", 0.25]
      ]
    },
    // Hunger
    "hyperphagic": {
      "pretty": "Hyperphagic",
      "type": "negative",
      "stats": [
        ["hunger", "mult", 1.25]
      ]
    },
    "hypophagic": {
      "pretty": "Hypophagic",
      "type": "positive",
      "stats": [
        ["hunger", "mult", 0.8]
      ]
    },
    // Trait points/Experience
    "geneticPlasticity": {
      "pretty": "Genetic Plasticity",
      "type": "positive",
      "stats": [
        ["traitPoints", "add", 5],
        ["traitExperienceCost", "mult", 0.5]
      ]
    },
    "evolved": {
      "pretty": "Evolved",
      "type": "positive",
      "stats": [
        ["experienceMultiplier", "add", 0.1],
        ["traitPoints", "add", 3]
      ]
    },
    // Resistances
    "elemental": {
      "pretty": "Elemental",
      "type": "positive",
      "stats": [
        ["poisonResistance", "add", 0.1],
        ["iceResistance", "add", 0.1],
        ["electricResistance", "add", 0.1],
        ["fireResistance", "add", 0.1]
      ]
    },
    "spectral": {
      "pretty": "Spectral",
      "type": "neutral",
      "stats": [
        ["physicalResistance", "add", 0.1],
        ["iceResistance", "add", 0.2],
        ["knockbackResistance", "sub", 0.25]
      ]
    },
    "thickSkin": {
      "pretty": "Thick Skin",
      "type": "positive",
      "stats": [
        ["physicalResistance", "add", 0.1],
        ["poisonResistance", "add", 0.2]
      ]
    },
    "scaled": {
      "pretty": "Scaled",
      "type": "positive",
      "stats": [
        ["physicalResistance", "add", 0.1],
        ["fireResistance", "add", 0.2]
      ]
    },
    "fungal": {
      "pretty": "Fungal",
      "type": "positive",
      "stats": [
        ["poisonResistance", "add", 0.2]
      ],
      "skills": [
        ["foodPoisonImmunity", 1]
      ]
    },
    "diseaseResistant": {
      "pretty": "Disease Resistant",
      "type": "positive",
      "stats": [
        ["poisonResistance", "add", 0.2]
      ],
      "skills": [
        ["foodPoisonImmunity", 1]
      ]
    },
    "desertDweller": {
      "pretty": "Desert Dweller",
      "type": "neutral",
      "stats": [
        ["fireResistance", "add", 0.2],
        ["metabolism", "mult", 1.25]
      ]
    },
    "plasmoid": {
      "pretty": "Plasmoid",
      "type": "neutral",
      "stats": [
        ["fireResistance", "add", 0.2],
        ["hunger", "mult", 1.25]
      ]
    },
    "thermophile": {
      "pretty": "Thermophile",
      "type": "positive",
      "stats": [
        ["fireResistance", "add", 0.2]
      ]
    },
    "chionophile": {
      "pretty": "Chionophile",
      "type": "neutral",
      "stats": [
        ["iceResistance", "add", 0.2],
        ["fireResistance", "sub", 0.2]
      ]
    },
    "flammable": {
      "pretty": "Flammable",
      "type": "negative",
      "stats": [
        ["fireResistance", "sub", 0.2]
      ]
    },
    "ligneous": {
      "pretty": "Ligneous",
      "type": "negative",
      "stats": [
        ["fireResistance", "sub", 0.2]
      ]
    },
    // Vore
    "carnivore": {
      "pretty": "Carnivore",
      "type": "positive",
      "skills": [
        ["voreCritter", 1]
      ],
      "items": ["voretool"],
      "itemCheck": true
    },
    "manEater": {
      "pretty": "Man-eater",
      "type": "positive",
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1]
      ],
      "items": ["voretool"],
      "itemCheck": true
    },
    // Milk
    "mooshiDNA": {
      "pretty": "Mooshi DNA",
      "type": "positive",
      "stats": [
        ["breastCapacity", "mult", 2],
        ["breastEfficiency", "mult", 2]
      ],
      "effects": ["passiveMilk"]
    },
    // Other
    "savage": {
      "pretty": "Savage",
      "type": "positive",
      "stats": [
        ["smashDamage", "add", 0.25],
        ["knockbackResistance", "add", 0.25]
      ]
    },
    "small": {
      "pretty": "Small",
      "type": "negative",
      "stats": [
        ["capacity", "mult", 0.5],
        ["health", "mult", 0.5],
        ["knockbackResistance", "sub", 0.25]
      ]
    },
    // "lol" said the Scorpion, "lmao".
    "pokemon": {
      "pretty": "Gotta catch 'em all!",
      "type": "positive",
      "skills": [
        ["voreCollection", 1]
      ]
    },
    // Cameo traits
    "cameo_mini": {
      "pretty": "Hostler",
      "type": "positive",
      "stats": [
        ["metabolism", "mult", 0.75],
        ["capacity", "mult", 1.5],
        ["voreCooldown", "mult", 0.25]
      ],
      "skills": [
        ["preventStarving", 1]
      ]
    },
    "cameo_koiynDigestion": {
      "pretty": "Inevitable Fate",
      "type": "positive",
      "stats": [
        ["absorption", "mult", 1.25],
        ["voreArmorPiercing", "add", 999],
        ["digestion", "mult", 0.25],
        ["voreDamage", "mult", 0.25]
      ]
    },
    "cameo_koiynCapacity": {
      "pretty": "Ravenous Cravings",
      "type": "neutral",
      "stats": [
        ["capacity", "mult", 2.5],
        ["hunger", "mult", 0.3],
        ["foodValue", "mult", 0.2]
      ],
      "skills": [
        ["wellfedProtection", 1]
      ]
    },
    "cameo_koiynVore": {
      "pretty": "Voracious Obsession",
      "type": "positive",
      "stats": [
        ["voreCooldown", "mult", 0.5],
        ["struggleResistance", "add", 0.25],
        ["foodExperienceMultiplier", "sub", 0.5]
      ],
      "skills": [
        ["voreCritter", 1],
        ["voreMonster", 1],
        ["voreHumanoid", 1],
        ["voreFriendly", 1]
      ],
      "effects": ["preyStruggleExperience"],
      "items": ["voretool"],
      "itemCheck": true
    }
  }
}
